<!DOCTYPE html>
[#import "/spring.ftl" as spring/]
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>${status}</title>
  [#--<meta name="robots" content="noindex,nofollow,noarchive">--]
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="renderer" content="webkit">
  <link rel="stylesheet" href="${templateUrl!'../templates/'}/error/_files/vendor/bootstrap/dist/css/bootstrap.min.css">
  [#--<link rel="stylesheet" th:href="${templateUrl!'../templates/'}/error/_files/vendor/fontawesome-free/css/all.min.css">--]
</head>
<body class="p-2">
<h1><span>${status}</span> <small>[@spring.message code="error.http.403"/]</small></h1>
<p>path: ${path}</p>
<p>timestamp: <span>${timestamp?string("yyyy-MM-dd'T'HH:mm:ss.SSSXX")}</span></p>
[#--[#if error??]<p>error: <span>${error}</span></p>[/#if]--]
[#--[#if exception??]<p>exception: <span>${exception}</span></p>[/#if]--]
[#if message??]<p><code>${message}</code></p>[/#if]
[#--[#if trace??]<pre style="white-space:pre-wrap;word-wrap:break-word;"><code>${trace}</code></pre>[/#if]--]
<script src="${templateUrl!'../templates/'}/error/_files/vendor/jquery/dist/jquery.slim.min.js"></script>
<script src="${templateUrl!'../templates/'}/error/_files/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
