<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujcms.core.mapper.ArticleStatMapper"><resultMap id="BaseResultMap" type="com.ujcms.core.domain.ArticleStat">
    <result column="article_id_" jdbcType="INTEGER" property="articleId" />
    <result column="stat_day_" jdbcType="INTEGER" property="statDay" />
    <result column="views_" jdbcType="INTEGER" property="views" />
  </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMap" type="com.ujcms.core.domain.ArticleStat" />
    <select id="listByStatDay" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_article_stat t
        where t.article_id_ = #{articleId}
        and t.stat_day_ in
        <foreach close=")" collection="statDays" item="statDay" open="(" separator=",">#{statDay}</foreach>
    </select>
    <delete id="deleteByArticleId">
        delete
        from ujcms_article_stat
        where article_id_ = #{articleId}
    </delete>
    <delete id="deleteByStatDay">
        delete
        from ujcms_article_stat
        where article_id_ = #{articleId}
          and stat_day_ &lt;= #{statDay}
    </delete><insert id="insert" parameterType="com.ujcms.core.domain.ArticleStat">
    insert into ujcms_article_stat (article_id_, stat_day_, views_)
    values (#{articleId,jdbcType=INTEGER}, #{statDay,jdbcType=INTEGER}, #{views,jdbcType=INTEGER})
  </insert><sql id="Column_List">
    t.article_id_, t.stat_day_, t.views_
  </sql></mapper>