<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujcms.core.mapper.ArticleFileMapper"><resultMap id="BaseResultMap" type="com.ujcms.core.domain.ArticleFile">
    <result column="article_id_" jdbcType="INTEGER" property="articleId" />
    <result column="name_" jdbcType="VARCHAR" property="name" />
    <result column="url_" jdbcType="VARCHAR" property="url" />
    <result column="length_" jdbcType="BIGINT" property="length" />
    <result column="order_" jdbcType="SMALLINT" property="order" />
  </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMap" type="com.ujcms.core.domain.ArticleFile" />
    <select id="listByArticleId" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_article_file t
        where t.article_id_ = #{articleId,jdbcType=INTEGER}
        order by t.order_
    </select>
    <delete id="deleteByArticleId" parameterType="int">
        delete
        from ujcms_article_file
        where article_id_ = #{article_id_,jdbcType=INTEGER}
    </delete>
    <sql id="selectAllJoin" />
    <sql id="selectAllWhere" />
    <select id="selectAll" resultMap="ResultMap">
        <include refid="com.ujcms.core.mapper.SeqMapper.Select_All">
            <property name="tableName" value="ujcms_article_file" />
        </include>
    </select><insert id="insert" parameterType="com.ujcms.core.domain.ArticleFile">
    insert into ujcms_article_file (article_id_, name_, url_, length_, order_)
    values (#{articleId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{length,jdbcType=BIGINT}, #{order,jdbcType=SMALLINT})
  </insert><sql id="Column_List">
    t.article_id_, t.name_, t.url_, t.length_, t.order_
  </sql></mapper>