<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujcms.core.mapper.ArticleMapper"><resultMap id="BaseResultMap" type="com.ujcms.core.domain.Article">
    <id column="id_" jdbcType="INTEGER" property="id" />
    <result column="site_id_" jdbcType="INTEGER" property="siteId" />
    <result column="org_id_" jdbcType="INTEGER" property="orgId" />
    <result column="channel_id_" jdbcType="INTEGER" property="channelId" />
    <result column="user_id_" jdbcType="INTEGER" property="userId" />
    <result column="modified_user_id_" jdbcType="INTEGER" property="modifiedUserId" />
    <result column="publish_date_" jdbcType="TIMESTAMP" property="publishDate" />
    <result column="with_image_" jdbcType="BOOLEAN" property="withImage" />
    <result column="sticky_" jdbcType="SMALLINT" property="sticky" />
    <result column="status_" jdbcType="SMALLINT" property="status" />
  </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMap" type="com.ujcms.core.domain.Article">
        <association column="id_" javaType="com.ujcms.core.domain.ArticleExt" property="ext" select="com.ujcms.core.mapper.ArticleExtMapper.select" />
        <association column="id_" javaType="com.ujcms.core.domain.ArticleBuffer" property="buffer" select="com.ujcms.core.mapper.ArticleBufferMapper.select" />
        <association column="site_id_" javaType="com.ujcms.core.domain.Site" property="site" select="com.ujcms.core.mapper.SiteMapper.select" />
        <association column="channel_id_" javaType="com.ujcms.core.domain.Channel" property="channel" select="com.ujcms.core.mapper.ChannelMapper.select" />
        <association column="org_id_" javaType="com.ujcms.core.domain.Org" property="org" select="com.ujcms.core.mapper.OrgMapper.select" />
        <association column="user_id_" javaType="com.ujcms.core.domain.User" property="user" select="com.ujcms.core.mapper.UserMapper.select" />
        <association column="modified_user_id_" javaType="com.ujcms.core.domain.User" property="modifiedUser" select="com.ujcms.core.mapper.UserMapper.select" />
        <collection column="id_" fetchType="lazy" ofType="com.ujcms.core.domain.ArticleCustom" property="customList" select="com.ujcms.core.mapper.ArticleCustomMapper.listByArticleId" />
        <collection column="id_" fetchType="lazy" ofType="com.ujcms.core.domain.ArticleImage" property="imageList" select="com.ujcms.core.mapper.ArticleImageMapper.listByArticleId" />
        <collection column="id_" fetchType="lazy" ofType="com.ujcms.core.domain.ArticleFile" property="fileList" select="com.ujcms.core.mapper.ArticleFileMapper.listByArticleId" />
        <collection column="id_" fetchType="lazy" ofType="com.ujcms.core.domain.BlockItem" property="blockItemList" select="com.ujcms.core.mapper.BlockItemMapper.listByArticleId" />
    </resultMap>

    <select id="listByIds" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_article t
        where t.id_ in
        <foreach close=")" collection="ids" item="item" open="(" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="findNext" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_article t
        where t.id_ != #{id} and t.channel_id_ = #{channelId}
        and (t.publish_date_ &gt; #{publishDate} or (t.publish_date_ = #{publishDate} and t.id_ &gt; #{id}))
        order by t.publish_date_, t.id_
    </select>
    <select id="findPrev" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_article t
        where t.id_ != #{id} and t.channel_id_ = #{channelId}
        and (t.publish_date_ &lt; #{publishDate} or (t.publish_date_ = #{publishDate} and t.id_ &lt; #{id}))
        order by t.publish_date_ desc, t.id_ desc
    </select>
    <select id="countByChannelId" resultType="int">
        select count(*)
        from ujcms_article t
        where t.channel_id_ = #{channelId}
    </select>
    <select id="countByUserId" resultType="int">
        select count(*)
        from ujcms_article t
        where t.user_id_ = #{userId}
    </select>
    <sql id="selectAllJoin">
        <if test="channelId != null">
            join ujcms_channel_tree channelTree on channelTree.descendant_id_ = t.channel_id_
        </if>
        <include refid="com.ujcms.core.mapper.SeqMapper.selectAllCustomsFieldJoin">
            <property name="customsTable" value="ujcms_article_custom" />
            <property name="customsId" value="article_id_" />
        </include>
    </sql>
    <sql id="selectAllWhere">
        <if test="channelId != null">
            and channelTree.ancestor_id_ = #{channelId}
        </if>
        <include refid="com.ujcms.core.mapper.SeqMapper.selectAllCustomsFieldWhere" />
    </sql>
    <select id="selectAll" resultMap="ResultMap">
        <include refid="com.ujcms.core.mapper.SeqMapper.Select_All">
            <property name="tableName" value="ujcms_article" />
        </include>
    </select>
    <select id="select" parameterType="int" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_article t
        where t.id_ = #{id,jdbcType=INTEGER}
    </select>
    <delete id="delete" parameterType="int">
        delete
        from ujcms_article
        where id_ = #{id,jdbcType=INTEGER}
    </delete><update id="update" parameterType="com.ujcms.core.domain.Article">
    update ujcms_article
    set site_id_ = #{siteId,jdbcType=INTEGER},
      org_id_ = #{orgId,jdbcType=INTEGER},
      channel_id_ = #{channelId,jdbcType=INTEGER},
      user_id_ = #{userId,jdbcType=INTEGER},
      modified_user_id_ = #{modifiedUserId,jdbcType=INTEGER},
      publish_date_ = #{publishDate,jdbcType=TIMESTAMP},
      with_image_ = #{withImage,jdbcType=BOOLEAN},
      sticky_ = #{sticky,jdbcType=SMALLINT},
      status_ = #{status,jdbcType=SMALLINT}
    where id_ = #{id,jdbcType=INTEGER}
  </update><insert id="insert" parameterType="com.ujcms.core.domain.Article">
    insert into ujcms_article (id_, site_id_, org_id_, channel_id_, user_id_, modified_user_id_, publish_date_, with_image_, sticky_, status_)
    values (#{id,jdbcType=INTEGER}, #{siteId,jdbcType=INTEGER}, #{orgId,jdbcType=INTEGER}, #{channelId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{modifiedUserId,jdbcType=INTEGER}, #{publishDate,jdbcType=TIMESTAMP}, #{withImage,jdbcType=BOOLEAN}, #{sticky,jdbcType=SMALLINT}, #{status,jdbcType=SMALLINT})
  </insert><sql id="Column_List">
    t.id_, t.site_id_, t.org_id_, t.channel_id_, t.user_id_, t.modified_user_id_, t.publish_date_, t.with_image_, t.sticky_, t.status_
  </sql></mapper>