<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujcms.core.mapper.ArticleExtMapper"><resultMap id="BaseResultMap" type="com.ujcms.core.domain.ArticleExt">
    <id column="id_" jdbcType="INTEGER" property="id" />
    <result column="title_" jdbcType="VARCHAR" property="title" />
    <result column="subtitle_" jdbcType="VARCHAR" property="subtitle" />
    <result column="full_title_" jdbcType="VARCHAR" property="fullTitle" />
    <result column="alias_" jdbcType="VARCHAR" property="alias" />
    <result column="link_url_" jdbcType="VARCHAR" property="linkUrl" />
    <result column="target_blank_" jdbcType="BOOLEAN" property="targetBlank" />
    <result column="seo_keywords_" jdbcType="VARCHAR" property="seoKeywords" />
    <result column="seo_description_" jdbcType="VARCHAR" property="seoDescription" />
    <result column="author_" jdbcType="VARCHAR" property="author" />
    <result column="editor_" jdbcType="VARCHAR" property="editor" />
    <result column="source_" jdbcType="VARCHAR" property="source" />
    <result column="offline_date_" jdbcType="TIMESTAMP" property="offlineDate" />
    <result column="sticky_date_" jdbcType="TIMESTAMP" property="stickyDate" />
    <result column="image_" jdbcType="VARCHAR" property="image" />
    <result column="video_" jdbcType="VARCHAR" property="video" />
    <result column="video_time_" jdbcType="VARCHAR" property="videoTime" />
    <result column="file_" jdbcType="VARCHAR" property="file" />
    <result column="file_name_" jdbcType="VARCHAR" property="fileName" />
    <result column="file_length_" jdbcType="BIGINT" property="fileLength" />
    <result column="doc_" jdbcType="VARCHAR" property="doc" />
    <result column="doc_name_" jdbcType="VARCHAR" property="docName" />
    <result column="doc_length_" jdbcType="BIGINT" property="docLength" />
    <result column="article_template_" jdbcType="VARCHAR" property="articleTemplate" />
    <result column="allow_comment_" jdbcType="BOOLEAN" property="allowComment" />
    <result column="static_file_" jdbcType="VARCHAR" property="staticFile" />
    <result column="mobile_static_file_" jdbcType="VARCHAR" property="mobileStaticFile" />
    <result column="created_" jdbcType="TIMESTAMP" property="created" />
    <result column="modified_" jdbcType="TIMESTAMP" property="modified" />
    <result column="text_" jdbcType="LONGVARCHAR" property="text" />
  </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMap" type="com.ujcms.core.domain.ArticleExt" />
    <sql id="selectAllJoin" />
    <sql id="selectAllWhere" />
    <select id="selectAll" resultMap="ResultMap">
        <include refid="com.ujcms.core.mapper.SeqMapper.Select_All">
            <property name="tableName" value="ujcms_article_ext" />
        </include>
    </select>
    <select id="select" parameterType="int" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_article_ext t
        where t.id_ = #{id,jdbcType=INTEGER}
    </select>
    <delete id="delete" parameterType="int">
        delete
        from ujcms_article_ext
        where id_ = #{id,jdbcType=INTEGER}
    </delete><update id="update" parameterType="com.ujcms.core.domain.ArticleExt">
    update ujcms_article_ext
    set title_ = #{title,jdbcType=VARCHAR},
      subtitle_ = #{subtitle,jdbcType=VARCHAR},
      full_title_ = #{fullTitle,jdbcType=VARCHAR},
      alias_ = #{alias,jdbcType=VARCHAR},
      link_url_ = #{linkUrl,jdbcType=VARCHAR},
      target_blank_ = #{targetBlank,jdbcType=BOOLEAN},
      seo_keywords_ = #{seoKeywords,jdbcType=VARCHAR},
      seo_description_ = #{seoDescription,jdbcType=VARCHAR},
      author_ = #{author,jdbcType=VARCHAR},
      editor_ = #{editor,jdbcType=VARCHAR},
      source_ = #{source,jdbcType=VARCHAR},
      offline_date_ = #{offlineDate,jdbcType=TIMESTAMP},
      sticky_date_ = #{stickyDate,jdbcType=TIMESTAMP},
      image_ = #{image,jdbcType=VARCHAR},
      video_ = #{video,jdbcType=VARCHAR},
      video_time_ = #{videoTime,jdbcType=VARCHAR},
      file_ = #{file,jdbcType=VARCHAR},
      file_name_ = #{fileName,jdbcType=VARCHAR},
      file_length_ = #{fileLength,jdbcType=BIGINT},
      doc_ = #{doc,jdbcType=VARCHAR},
      doc_name_ = #{docName,jdbcType=VARCHAR},
      doc_length_ = #{docLength,jdbcType=BIGINT},
      article_template_ = #{articleTemplate,jdbcType=VARCHAR},
      allow_comment_ = #{allowComment,jdbcType=BOOLEAN},
      static_file_ = #{staticFile,jdbcType=VARCHAR},
      mobile_static_file_ = #{mobileStaticFile,jdbcType=VARCHAR},
      created_ = #{created,jdbcType=TIMESTAMP},
      modified_ = #{modified,jdbcType=TIMESTAMP},
      text_ = #{text,jdbcType=LONGVARCHAR}
    where id_ = #{id,jdbcType=INTEGER}
  </update><insert id="insert" parameterType="com.ujcms.core.domain.ArticleExt">
    insert into ujcms_article_ext (id_, title_, subtitle_, full_title_, alias_, link_url_, target_blank_, seo_keywords_, seo_description_, author_, editor_, source_, offline_date_, sticky_date_, image_, video_, video_time_, file_, file_name_, file_length_, doc_, doc_name_, doc_length_, article_template_, allow_comment_, static_file_, mobile_static_file_, created_, modified_, text_)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{subtitle,jdbcType=VARCHAR}, #{fullTitle,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, #{linkUrl,jdbcType=VARCHAR}, #{targetBlank,jdbcType=BOOLEAN}, #{seoKeywords,jdbcType=VARCHAR}, #{seoDescription,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, #{editor,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{offlineDate,jdbcType=TIMESTAMP}, #{stickyDate,jdbcType=TIMESTAMP}, #{image,jdbcType=VARCHAR}, #{video,jdbcType=VARCHAR}, #{videoTime,jdbcType=VARCHAR}, #{file,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, #{fileLength,jdbcType=BIGINT}, #{doc,jdbcType=VARCHAR}, #{docName,jdbcType=VARCHAR}, #{docLength,jdbcType=BIGINT}, #{articleTemplate,jdbcType=VARCHAR}, #{allowComment,jdbcType=BOOLEAN}, #{staticFile,jdbcType=VARCHAR}, #{mobileStaticFile,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{modified,jdbcType=TIMESTAMP}, #{text,jdbcType=LONGVARCHAR})
  </insert><sql id="Column_List">
    t.id_, t.title_, t.subtitle_, t.full_title_, t.alias_, t.link_url_, t.target_blank_, t.seo_keywords_, t.seo_description_, t.author_, t.editor_, t.source_, t.offline_date_, t.sticky_date_, t.image_, t.video_, t.video_time_, t.file_, t.file_name_, t.file_length_, t.doc_, t.doc_name_, t.doc_length_, t.article_template_, t.allow_comment_, t.static_file_, t.mobile_static_file_, t.created_, t.modified_, t.text_
  </sql></mapper>