<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujcms.core.mapper.BlockItemMapper"><resultMap id="BaseResultMap" type="com.ujcms.core.domain.BlockItem">
    <id column="id_" jdbcType="INTEGER" property="id" />
    <result column="site_id_" jdbcType="INTEGER" property="siteId" />
    <result column="block_id_" jdbcType="INTEGER" property="blockId" />
    <result column="article_id_" jdbcType="INTEGER" property="articleId" />
    <result column="title_" jdbcType="VARCHAR" property="title" />
    <result column="description_" jdbcType="VARCHAR" property="description" />
    <result column="link_url_" jdbcType="VARCHAR" property="linkUrl" />
    <result column="image_" jdbcType="VARCHAR" property="image" />
    <result column="mobile_image_" jdbcType="VARCHAR" property="mobileImage" />
    <result column="enabled_" jdbcType="BOOLEAN" property="enabled" />
    <result column="order_" jdbcType="SMALLINT" property="order" />
  </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMap" type="com.ujcms.core.domain.BlockItem">
        <association column="article_id_" javaType="com.ujcms.core.domain.Article" property="article" select="com.ujcms.core.mapper.ArticleMapper.select" />
        <association column="block_id_" javaType="com.ujcms.core.domain.Block" property="block" select="com.ujcms.core.mapper.BlockMapper.select" />
    </resultMap>
    <select id="countByBlockIdAndArticleId" resultType="int">
        select count(*)
        from ujcms_block_item t
        where t.block_id_ = #{blockId,jdbcType=INTEGER}
          and t.article_id_ = #{articleId,jdbcType=INTEGER}
    </select>
    <select id="listByArticleId" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_block_item t
        where t.article_id_ = #{articleId,jdbcType=INTEGER}
    </select>
    <sql id="selectAllJoin" />
    <sql id="selectAllWhere" />
    <select id="selectAll" resultMap="ResultMap">
        <include refid="com.ujcms.core.mapper.SeqMapper.Select_All">
            <property name="tableName" value="ujcms_block_item" />
        </include>
    </select>
    <select id="select" parameterType="int" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_block_item t
        where t.id_ = #{id,jdbcType=INTEGER}
    </select>
    <delete id="delete" parameterType="int">
        delete
        from ujcms_block_item
        where id_ = #{id,jdbcType=INTEGER}
    </delete><update id="update" parameterType="com.ujcms.core.domain.BlockItem">
    update ujcms_block_item
    set site_id_ = #{siteId,jdbcType=INTEGER},
      block_id_ = #{blockId,jdbcType=INTEGER},
      article_id_ = #{articleId,jdbcType=INTEGER},
      title_ = #{title,jdbcType=VARCHAR},
      description_ = #{description,jdbcType=VARCHAR},
      link_url_ = #{linkUrl,jdbcType=VARCHAR},
      image_ = #{image,jdbcType=VARCHAR},
      mobile_image_ = #{mobileImage,jdbcType=VARCHAR},
      enabled_ = #{enabled,jdbcType=BOOLEAN},
      order_ = #{order,jdbcType=SMALLINT}
    where id_ = #{id,jdbcType=INTEGER}
  </update><insert id="insert" parameterType="com.ujcms.core.domain.BlockItem">
    insert into ujcms_block_item (id_, site_id_, block_id_, article_id_, title_, description_, link_url_, image_, mobile_image_, enabled_, order_)
    values (#{id,jdbcType=INTEGER}, #{siteId,jdbcType=INTEGER}, #{blockId,jdbcType=INTEGER}, #{articleId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{linkUrl,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{mobileImage,jdbcType=VARCHAR}, #{enabled,jdbcType=BOOLEAN}, #{order,jdbcType=SMALLINT})
  </insert><sql id="Column_List">
    t.id_, t.site_id_, t.block_id_, t.article_id_, t.title_, t.description_, t.link_url_, t.image_, t.mobile_image_, t.enabled_, t.order_
  </sql></mapper>