<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujcms.core.mapper.ChannelMapper"><resultMap id="BaseResultMap" type="com.ujcms.core.domain.Channel">
    <id column="id_" jdbcType="INTEGER" property="id" />
    <result column="site_id_" jdbcType="INTEGER" property="siteId" />
    <result column="parent_id_" jdbcType="INTEGER" property="parentId" />
    <result column="channel_model_id_" jdbcType="INTEGER" property="channelModelId" />
    <result column="article_model_id_" jdbcType="INTEGER" property="articleModelId" />
    <result column="name_" jdbcType="VARCHAR" property="name" />
    <result column="alias_" jdbcType="VARCHAR" property="alias" />
    <result column="nav_" jdbcType="BOOLEAN" property="nav" />
    <result column="type_" jdbcType="SMALLINT" property="type" />
    <result column="depth_" jdbcType="SMALLINT" property="depth" />
    <result column="order_" jdbcType="SMALLINT" property="order" />
  </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMap" type="com.ujcms.core.domain.Channel">
        <association column="id_" javaType="com.ujcms.core.domain.ChannelExt" property="ext" select="com.ujcms.core.mapper.ChannelExtMapper.select" />
        <association column="id_" javaType="com.ujcms.core.domain.ChannelBuffer" property="buffer" select="com.ujcms.core.mapper.ChannelBufferMapper.select" />
        <association column="parent_id_" javaType="com.ujcms.core.domain.Channel" property="parent" select="select" />
        <association column="site_id_" javaType="com.ujcms.core.domain.Site" property="site" select="com.ujcms.core.mapper.SiteMapper.select" />
        <association column="channel_model_id_" javaType="com.ujcms.core.domain.Model" property="channelModel" select="com.ujcms.core.mapper.ModelMapper.select" />
        <association column="article_model_id_" javaType="com.ujcms.core.domain.Model" property="articleModel" select="com.ujcms.core.mapper.ModelMapper.select" />
        <collection column="id_" fetchType="lazy" ofType="com.ujcms.core.domain.Channel" property="children" select="listChildren" />
        <collection column="id_" fetchType="lazy" ofType="com.ujcms.core.domain.Group" property="groupList" select="com.ujcms.core.mapper.GroupMapper.listByChannelId" />
        <collection column="id_" fetchType="lazy" ofType="com.ujcms.core.domain.ChannelCustom" property="customList" select="com.ujcms.core.mapper.ChannelCustomMapper.listByChannelId" />
    </resultMap>
    <select id="listChildren" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_channel t
        where t.parent_id_ = #{parentId,jdbcType=INTEGER}
    </select>
    <update id="updateDepth">
        update ujcms_channel
        set depth_ = depth_ + #{depth,jdbcType=SMALLINT}
        where id_ in (select descendant_id_ from ujcms_channel_tree where ancestor_id_ = #{id,jdbcType=INTEGER})
    </update>
    <sql id="selectAllJoin">
        <include refid="com.ujcms.core.mapper.SeqMapper.selectAllCustomsFieldJoin">
            <property name="customsTable" value="ujcms_channel_custom" />
            <property name="customsId" value="channel_id_" />
        </include>
    </sql>
    <sql id="selectAllWhere">
        <include refid="com.ujcms.core.mapper.SeqMapper.selectAllCustomsFieldWhere" />
    </sql>
    <select id="selectAll" resultMap="ResultMap">
        <include refid="com.ujcms.core.mapper.SeqMapper.Select_All">
            <property name="tableName" value="ujcms_channel" />
        </include>
    </select>
    <select id="select" parameterType="int" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_channel t
        where t.id_ = #{id,jdbcType=INTEGER}
    </select>
    <delete id="delete" parameterType="int">
        delete
        from ujcms_channel
        where id_ = #{id,jdbcType=INTEGER}
    </delete><update id="update" parameterType="com.ujcms.core.domain.Channel">
    update ujcms_channel
    set site_id_ = #{siteId,jdbcType=INTEGER},
      parent_id_ = #{parentId,jdbcType=INTEGER},
      channel_model_id_ = #{channelModelId,jdbcType=INTEGER},
      article_model_id_ = #{articleModelId,jdbcType=INTEGER},
      name_ = #{name,jdbcType=VARCHAR},
      alias_ = #{alias,jdbcType=VARCHAR},
      nav_ = #{nav,jdbcType=BOOLEAN},
      type_ = #{type,jdbcType=SMALLINT},
      depth_ = #{depth,jdbcType=SMALLINT},
      order_ = #{order,jdbcType=SMALLINT}
    where id_ = #{id,jdbcType=INTEGER}
  </update><insert id="insert" parameterType="com.ujcms.core.domain.Channel">
    insert into ujcms_channel (id_, site_id_, parent_id_, channel_model_id_, article_model_id_, name_, alias_, nav_, type_, depth_, order_)
    values (#{id,jdbcType=INTEGER}, #{siteId,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{channelModelId,jdbcType=INTEGER}, #{articleModelId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, #{nav,jdbcType=BOOLEAN}, #{type,jdbcType=SMALLINT}, #{depth,jdbcType=SMALLINT}, #{order,jdbcType=SMALLINT})
  </insert><sql id="Column_List">
    t.id_, t.site_id_, t.parent_id_, t.channel_model_id_, t.article_model_id_, t.name_, t.alias_, t.nav_, t.type_, t.depth_, t.order_
  </sql></mapper>