<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujcms.core.mapper.DictMapper"><resultMap id="BaseResultMap" type="com.ujcms.core.domain.Dict">
    <id column="id_" jdbcType="INTEGER" property="id" />
    <result column="type_id_" jdbcType="INTEGER" property="typeId" />
    <result column="parent_id_" jdbcType="INTEGER" property="parentId" />
    <result column="name_" jdbcType="VARCHAR" property="name" />
    <result column="value_" jdbcType="VARCHAR" property="value" />
    <result column="remark_" jdbcType="VARCHAR" property="remark" />
    <result column="order_" jdbcType="SMALLINT" property="order" />
    <result column="enabled_" jdbcType="BOOLEAN" property="enabled" />
  </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMap" type="com.ujcms.core.domain.Dict" />
    <sql id="selectAllJoin" />
    <sql id="selectAllWhere" />
    <select id="selectAll" resultMap="ResultMap">
        <include refid="com.ujcms.core.mapper.SeqMapper.Select_All">
            <property name="tableName" value="ujcms_dict" />
        </include>
    </select>
    <select id="select" parameterType="int" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_dict t
        where t.id_ = #{id,jdbcType=INTEGER}
    </select>
    <delete id="delete" parameterType="int">
        delete
        from ujcms_dict
        where id_ = #{id,jdbcType=INTEGER}
    </delete><update id="update" parameterType="com.ujcms.core.domain.Dict">
    update ujcms_dict
    set type_id_ = #{typeId,jdbcType=INTEGER},
      parent_id_ = #{parentId,jdbcType=INTEGER},
      name_ = #{name,jdbcType=VARCHAR},
      value_ = #{value,jdbcType=VARCHAR},
      remark_ = #{remark,jdbcType=VARCHAR},
      order_ = #{order,jdbcType=SMALLINT},
      enabled_ = #{enabled,jdbcType=BOOLEAN}
    where id_ = #{id,jdbcType=INTEGER}
  </update><insert id="insert" parameterType="com.ujcms.core.domain.Dict">
    insert into ujcms_dict (id_, type_id_, parent_id_, name_, value_, remark_, order_, enabled_)
    values (#{id,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{order,jdbcType=SMALLINT}, #{enabled,jdbcType=BOOLEAN})
  </insert><sql id="Column_List">
    t.id_, t.type_id_, t.parent_id_, t.name_, t.value_, t.remark_, t.order_, t.enabled_
  </sql></mapper>