<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujcms.core.mapper.GlobalMapper"><resultMap id="BaseResultMap" type="com.ujcms.core.domain.Global">
    <id column="id_" jdbcType="INTEGER" property="id" />
    <result column="context_path_" jdbcType="VARCHAR" property="contextPath" />
    <result column="port_" jdbcType="INTEGER" property="port" />
    <result column="secret_" jdbcType="VARCHAR" property="secret" />
    <result column="default_site_id_" jdbcType="INTEGER" property="defaultSiteId" />
    <result column="channel_url_" jdbcType="VARCHAR" property="channelUrl" />
    <result column="article_url_" jdbcType="VARCHAR" property="articleUrl" />
    <result column="upload_settings_" jdbcType="VARCHAR" property="uploadSettings" />
    <result column="register_settings_" jdbcType="VARCHAR" property="registerSettings" />
    <result column="email_settings_" jdbcType="VARCHAR" property="emailSettings" />
    <result column="customs_settings_" jdbcType="LONGVARCHAR" property="customsSettings" />
  </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMap" type="com.ujcms.core.domain.Global">
        <association column="id_" fetchType="lazy" javaType="com.ujcms.core.domain.Model" property="model" select="com.ujcms.core.mapper.ModelMapper.selectGlobalModel" />
    </resultMap>
    <select id="findUnique" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_global t
        where t.id_ = 1
    </select><update id="update" parameterType="com.ujcms.core.domain.Global">
    update ujcms_global
    set context_path_ = #{contextPath,jdbcType=VARCHAR},
      port_ = #{port,jdbcType=INTEGER},
      secret_ = #{secret,jdbcType=VARCHAR},
      default_site_id_ = #{defaultSiteId,jdbcType=INTEGER},
      channel_url_ = #{channelUrl,jdbcType=VARCHAR},
      article_url_ = #{articleUrl,jdbcType=VARCHAR},
      upload_settings_ = #{uploadSettings,jdbcType=VARCHAR},
      register_settings_ = #{registerSettings,jdbcType=VARCHAR},
      email_settings_ = #{emailSettings,jdbcType=VARCHAR},
      customs_settings_ = #{customsSettings,jdbcType=LONGVARCHAR}
    where id_ = #{id,jdbcType=INTEGER}
  </update><insert id="insert" parameterType="com.ujcms.core.domain.Global">
    insert into ujcms_global (id_, context_path_, port_, secret_, default_site_id_, channel_url_, article_url_, upload_settings_, register_settings_, email_settings_, customs_settings_)
    values (#{id,jdbcType=INTEGER}, #{contextPath,jdbcType=VARCHAR}, #{port,jdbcType=INTEGER}, #{secret,jdbcType=VARCHAR}, #{defaultSiteId,jdbcType=INTEGER}, #{channelUrl,jdbcType=VARCHAR}, #{articleUrl,jdbcType=VARCHAR}, #{uploadSettings,jdbcType=VARCHAR}, #{registerSettings,jdbcType=VARCHAR}, #{emailSettings,jdbcType=VARCHAR}, #{customsSettings,jdbcType=LONGVARCHAR})
  </insert><sql id="Column_List">
    t.id_, t.context_path_, t.port_, t.secret_, t.default_site_id_, t.channel_url_, t.article_url_, t.upload_settings_, t.register_settings_, t.email_settings_, t.customs_settings_
  </sql></mapper>