<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujcms.core.mapper.ModelMapper"><resultMap id="BaseResultMap" type="com.ujcms.core.domain.Model">
    <id column="id_" jdbcType="INTEGER" property="id" />
    <result column="site_id_" jdbcType="INTEGER" property="siteId" />
    <result column="name_" jdbcType="VARCHAR" property="name" />
    <result column="type_" jdbcType="VARCHAR" property="type" />
    <result column="scope_" jdbcType="SMALLINT" property="scope" />
    <result column="order_" jdbcType="SMALLINT" property="order" />
    <result column="mains_" jdbcType="LONGVARCHAR" property="mains" />
    <result column="asides_" jdbcType="LONGVARCHAR" property="asides" />
    <result column="customs_" jdbcType="LONGVARCHAR" property="customs" />
  </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMap" type="com.ujcms.core.domain.Model" />
    <select id="selectGlobalModel" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_model t
        where t.id_ = 1
    </select>

    <select id="selectUserModel" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_model t
        where t.id_ = 2
    </select>
    <sql id="selectAllJoin" />
    <sql id="selectAllWhere" />
    <select id="selectAll" resultMap="ResultMap">
        <include refid="com.ujcms.core.mapper.SeqMapper.Select_All">
            <property name="tableName" value="ujcms_model" />
        </include>
    </select>
    <select id="select" parameterType="int" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_model t
        where t.id_ = #{id,jdbcType=INTEGER}
    </select>
    <delete id="delete" parameterType="int">
        delete
        from ujcms_model
        where id_ = #{id,jdbcType=INTEGER}
    </delete><update id="update" parameterType="com.ujcms.core.domain.Model">
    update ujcms_model
    set site_id_ = #{siteId,jdbcType=INTEGER},
      name_ = #{name,jdbcType=VARCHAR},
      type_ = #{type,jdbcType=VARCHAR},
      scope_ = #{scope,jdbcType=SMALLINT},
      order_ = #{order,jdbcType=SMALLINT},
      mains_ = #{mains,jdbcType=LONGVARCHAR},
      asides_ = #{asides,jdbcType=LONGVARCHAR},
      customs_ = #{customs,jdbcType=LONGVARCHAR}
    where id_ = #{id,jdbcType=INTEGER}
  </update><insert id="insert" parameterType="com.ujcms.core.domain.Model">
    insert into ujcms_model (id_, site_id_, name_, type_, scope_, order_, mains_, asides_, customs_)
    values (#{id,jdbcType=INTEGER}, #{siteId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{scope,jdbcType=SMALLINT}, #{order,jdbcType=SMALLINT}, #{mains,jdbcType=LONGVARCHAR}, #{asides,jdbcType=LONGVARCHAR}, #{customs,jdbcType=LONGVARCHAR})
  </insert><sql id="Column_List">
    t.id_, t.site_id_, t.name_, t.type_, t.scope_, t.order_, t.mains_, t.asides_, t.customs_
  </sql></mapper>