<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujcms.core.mapper.OrgMapper"><resultMap id="BaseResultMap" type="com.ujcms.core.domain.Org">
    <id column="id_" jdbcType="INTEGER" property="id" />
    <result column="parent_id_" jdbcType="INTEGER" property="parentId" />
    <result column="name_" jdbcType="VARCHAR" property="name" />
    <result column="phone_" jdbcType="VARCHAR" property="phone" />
    <result column="address_" jdbcType="VARCHAR" property="address" />
    <result column="contacts_" jdbcType="VARCHAR" property="contacts" />
    <result column="depth_" jdbcType="SMALLINT" property="depth" />
    <result column="order_" jdbcType="SMALLINT" property="order" />
  </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMap" type="com.ujcms.core.domain.Org">
        <association column="parent_id_" javaType="com.ujcms.core.domain.Org" property="parent" select="select" />
        <collection column="id_" fetchType="lazy" ofType="com.ujcms.core.domain.Org" property="children" select="listChildren" />
    </resultMap>
    <select id="listChildren" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_org t
        where parent_id_ = #{parentId,jdbcType=INTEGER}
    </select>
    <update id="updateDepth">
        update ujcms_org
        set depth_ = depth_ + #{depth,jdbcType=SMALLINT}
        where id_ in (select descendant_id_ from ujcms_org_tree where ancestor_id_ = #{id,jdbcType=INTEGER})
    </update>
    <sql id="selectAllJoin" />
    <sql id="selectAllWhere" />
    <select id="selectAll" resultMap="ResultMap">
        <include refid="com.ujcms.core.mapper.SeqMapper.Select_All">
            <property name="tableName" value="ujcms_org" />
        </include>
    </select>
    <select id="select" parameterType="java.lang.Integer" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_org t
        where id_ = #{id,jdbcType=INTEGER}
    </select>
    <delete id="delete" parameterType="java.lang.Integer">
        delete
        from ujcms_org
        where id_ = #{id,jdbcType=INTEGER}
    </delete><update id="update" parameterType="com.ujcms.core.domain.Org">
    update ujcms_org
    set parent_id_ = #{parentId,jdbcType=INTEGER},
      name_ = #{name,jdbcType=VARCHAR},
      phone_ = #{phone,jdbcType=VARCHAR},
      address_ = #{address,jdbcType=VARCHAR},
      contacts_ = #{contacts,jdbcType=VARCHAR},
      depth_ = #{depth,jdbcType=SMALLINT},
      order_ = #{order,jdbcType=SMALLINT}
    where id_ = #{id,jdbcType=INTEGER}
  </update><insert id="insert" parameterType="com.ujcms.core.domain.Org">
    insert into ujcms_org (id_, parent_id_, name_, phone_, address_, contacts_, depth_, order_)
    values (#{id,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{contacts,jdbcType=VARCHAR}, #{depth,jdbcType=SMALLINT}, #{order,jdbcType=SMALLINT})
  </insert><sql id="Column_List">
    t.id_, t.parent_id_, t.name_, t.phone_, t.address_, t.contacts_, t.depth_, t.order_
  </sql></mapper>