<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujcms.core.mapper.SiteMapper"><resultMap id="BaseResultMap" type="com.ujcms.core.domain.Site">
    <id column="id_" jdbcType="INTEGER" property="id" />
    <result column="parent_id_" jdbcType="INTEGER" property="parentId" />
    <result column="org_id_" jdbcType="INTEGER" property="orgId" />
    <result column="model_id_" jdbcType="INTEGER" property="modelId" />
    <result column="storage_id_" jdbcType="INTEGER" property="storageId" />
    <result column="html_storage_id_" jdbcType="INTEGER" property="htmlStorageId" />
    <result column="mobile_storage_id_" jdbcType="INTEGER" property="mobileStorageId" />
    <result column="name_" jdbcType="VARCHAR" property="name" />
    <result column="protocol_" jdbcType="VARCHAR" property="protocol" />
    <result column="domain_" jdbcType="VARCHAR" property="domain" />
    <result column="sub_dir_" jdbcType="VARCHAR" property="subDir" />
    <result column="theme_" jdbcType="VARCHAR" property="theme" />
    <result column="mobile_theme_" jdbcType="VARCHAR" property="mobileTheme" />
    <result column="page_size_" jdbcType="SMALLINT" property="pageSize" />
    <result column="logo_" jdbcType="VARCHAR" property="logo" />
    <result column="seo_title_" jdbcType="VARCHAR" property="seoTitle" />
    <result column="seo_keywords_" jdbcType="VARCHAR" property="seoKeywords" />
    <result column="seo_description_" jdbcType="VARCHAR" property="seoDescription" />
    <result column="static_file_" jdbcType="VARCHAR" property="staticFile" />
    <result column="mobile_static_file_" jdbcType="VARCHAR" property="mobileStaticFile" />
    <result column="watermark_settings_" jdbcType="VARCHAR" property="watermarkSettings" />
    <result column="html_settings_" jdbcType="VARCHAR" property="htmlSettings" />
    <result column="depth_" jdbcType="SMALLINT" property="depth" />
    <result column="order_" jdbcType="SMALLINT" property="order" />
    <result column="status_" jdbcType="SMALLINT" property="status" />
  </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMap" type="com.ujcms.core.domain.Site">
        <association column="id_" javaType="com.ujcms.core.domain.Global" property="global" select="com.ujcms.core.mapper.GlobalMapper.findUnique" />
        <association column="id_" fetchType="lazy" javaType="com.ujcms.core.domain.SiteBuffer" property="buffer" select="com.ujcms.core.mapper.SiteBufferMapper.select" />
        <association column="parent_id_" fetchType="lazy" javaType="com.ujcms.core.domain.Site" property="parent" select="select" />
        <association column="org_id_" fetchType="lazy" javaType="com.ujcms.core.domain.Org" property="org" select="com.ujcms.core.mapper.OrgMapper.select" />
        <association column="model_id_" fetchType="lazy" javaType="com.ujcms.core.domain.Model" property="model" select="com.ujcms.core.mapper.ModelMapper.select" />
        <association column="storage_id_" fetchType="lazy" javaType="com.ujcms.core.domain.Storage" property="storage" select="com.ujcms.core.mapper.StorageMapper.select" />
        <association column="html_storage_id_" fetchType="lazy" javaType="com.ujcms.core.domain.Storage" property="htmlStorage" select="com.ujcms.core.mapper.StorageMapper.select" />
        <association column="mobile_storage_id_" fetchType="lazy" javaType="com.ujcms.core.domain.Storage" property="mobileStorage" select="com.ujcms.core.mapper.StorageMapper.select" />
        <collection column="id_" fetchType="lazy" ofType="com.ujcms.core.domain.SiteCustom" property="customList" select="com.ujcms.core.mapper.SiteCustomMapper.listBySiteId" />
    </resultMap>
    <select id="listChildren" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_site t
        where parent_id_ = #{parentId,jdbcType=INTEGER}
    </select>
    <select id="findBySubDir" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_site t
        where t.sub_dir_ = #{subDir}
    </select>
    <select id="findByDomain" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_site t
        where t.domain_ = #{domain} and t.sub_dir_ is null
    </select>
    <update id="updateDepth">
        update ujcms_site
        set depth_ = depth_ + #{depth,jdbcType=SMALLINT}
        where id_ in (select descendant_id_ from ujcms_site_tree where ancestor_id_ = #{id,jdbcType=INTEGER})
    </update>
    <sql id="selectAllJoin">
        <include refid="com.ujcms.core.mapper.SeqMapper.selectAllCustomsFieldJoin">
            <property name="customsTable" value="ujcms_site_custom" />
            <property name="customsId" value="site_id_" />
        </include>
    </sql>
    <sql id="selectAllWhere">
        <include refid="com.ujcms.core.mapper.SeqMapper.selectAllCustomsFieldWhere" />
    </sql>
    <select id="selectAll" resultMap="ResultMap">
        <include refid="com.ujcms.core.mapper.SeqMapper.Select_All">
            <property name="tableName" value="ujcms_site" />
        </include>
    </select>
    <select id="select" parameterType="int" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_site t
        where t.id_ = #{id,jdbcType=INTEGER}
    </select>
    <delete id="delete" parameterType="int">
        delete
        from ujcms_site
        where id_ = #{id,jdbcType=INTEGER}
    </delete><update id="update" parameterType="com.ujcms.core.domain.Site">
    update ujcms_site
    set parent_id_ = #{parentId,jdbcType=INTEGER},
      org_id_ = #{orgId,jdbcType=INTEGER},
      model_id_ = #{modelId,jdbcType=INTEGER},
      storage_id_ = #{storageId,jdbcType=INTEGER},
      html_storage_id_ = #{htmlStorageId,jdbcType=INTEGER},
      mobile_storage_id_ = #{mobileStorageId,jdbcType=INTEGER},
      name_ = #{name,jdbcType=VARCHAR},
      protocol_ = #{protocol,jdbcType=VARCHAR},
      domain_ = #{domain,jdbcType=VARCHAR},
      sub_dir_ = #{subDir,jdbcType=VARCHAR},
      theme_ = #{theme,jdbcType=VARCHAR},
      mobile_theme_ = #{mobileTheme,jdbcType=VARCHAR},
      page_size_ = #{pageSize,jdbcType=SMALLINT},
      logo_ = #{logo,jdbcType=VARCHAR},
      seo_title_ = #{seoTitle,jdbcType=VARCHAR},
      seo_keywords_ = #{seoKeywords,jdbcType=VARCHAR},
      seo_description_ = #{seoDescription,jdbcType=VARCHAR},
      static_file_ = #{staticFile,jdbcType=VARCHAR},
      mobile_static_file_ = #{mobileStaticFile,jdbcType=VARCHAR},
      watermark_settings_ = #{watermarkSettings,jdbcType=VARCHAR},
      html_settings_ = #{htmlSettings,jdbcType=VARCHAR},
      depth_ = #{depth,jdbcType=SMALLINT},
      order_ = #{order,jdbcType=SMALLINT},
      status_ = #{status,jdbcType=SMALLINT}
    where id_ = #{id,jdbcType=INTEGER}
  </update><insert id="insert" parameterType="com.ujcms.core.domain.Site">
    insert into ujcms_site (id_, parent_id_, org_id_, model_id_, storage_id_, html_storage_id_, mobile_storage_id_, name_, protocol_, domain_, sub_dir_, theme_, mobile_theme_, page_size_, logo_, seo_title_, seo_keywords_, seo_description_, static_file_, mobile_static_file_, watermark_settings_, html_settings_, depth_, order_, status_)
    values (#{id,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{orgId,jdbcType=INTEGER}, #{modelId,jdbcType=INTEGER}, #{storageId,jdbcType=INTEGER}, #{htmlStorageId,jdbcType=INTEGER}, #{mobileStorageId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{protocol,jdbcType=VARCHAR}, #{domain,jdbcType=VARCHAR}, #{subDir,jdbcType=VARCHAR}, #{theme,jdbcType=VARCHAR}, #{mobileTheme,jdbcType=VARCHAR}, #{pageSize,jdbcType=SMALLINT}, #{logo,jdbcType=VARCHAR}, #{seoTitle,jdbcType=VARCHAR}, #{seoKeywords,jdbcType=VARCHAR}, #{seoDescription,jdbcType=VARCHAR}, #{staticFile,jdbcType=VARCHAR}, #{mobileStaticFile,jdbcType=VARCHAR}, #{watermarkSettings,jdbcType=VARCHAR}, #{htmlSettings,jdbcType=VARCHAR}, #{depth,jdbcType=SMALLINT}, #{order,jdbcType=SMALLINT}, #{status,jdbcType=SMALLINT})
  </insert><sql id="Column_List">
    t.id_, t.parent_id_, t.org_id_, t.model_id_, t.storage_id_, t.html_storage_id_, t.mobile_storage_id_, t.name_, t.protocol_, t.domain_, t.sub_dir_, t.theme_, t.mobile_theme_, t.page_size_, t.logo_, t.seo_title_, t.seo_keywords_, t.seo_description_, t.static_file_, t.mobile_static_file_, t.watermark_settings_, t.html_settings_, t.depth_, t.order_, t.status_
  </sql></mapper>