<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujcms.core.mapper.StorageMapper"><resultMap id="BaseResultMap" type="com.ujcms.core.domain.Storage">
    <id column="id_" jdbcType="INTEGER" property="id" />
    <result column="site_id_" jdbcType="INTEGER" property="siteId" />
    <result column="name_" jdbcType="VARCHAR" property="name" />
    <result column="description_" jdbcType="VARCHAR" property="description" />
    <result column="type_" jdbcType="SMALLINT" property="type" />
    <result column="mode_" jdbcType="SMALLINT" property="mode" />
    <result column="scope_" jdbcType="SMALLINT" property="scope" />
    <result column="path_" jdbcType="VARCHAR" property="path" />
    <result column="url_" jdbcType="VARCHAR" property="url" />
    <result column="attrs_" jdbcType="VARCHAR" property="attrs" />
    <result column="order_" jdbcType="SMALLINT" property="order" />
  </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMap" type="com.ujcms.core.domain.Storage" />
    <select id="listByMode" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_storage t
        where t.mode_ = #{mode,jdbcType=TINYINT}
    </select>
    <sql id="selectAllJoin" />
    <sql id="selectAllWhere" />
    <select id="selectAll" resultMap="ResultMap">
        <include refid="com.ujcms.core.mapper.SeqMapper.Select_All">
            <property name="tableName" value="ujcms_storage" />
        </include>
    </select>
    <select id="select" parameterType="int" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_storage t
        where t.id_ = #{id,jdbcType=INTEGER}
    </select>
    <delete id="delete" parameterType="int">
        delete
        from ujcms_storage
        where id_ = #{id,jdbcType=INTEGER}
    </delete><update id="update" parameterType="com.ujcms.core.domain.Storage">
    update ujcms_storage
    set site_id_ = #{siteId,jdbcType=INTEGER},
      name_ = #{name,jdbcType=VARCHAR},
      description_ = #{description,jdbcType=VARCHAR},
      type_ = #{type,jdbcType=SMALLINT},
      mode_ = #{mode,jdbcType=SMALLINT},
      scope_ = #{scope,jdbcType=SMALLINT},
      path_ = #{path,jdbcType=VARCHAR},
      url_ = #{url,jdbcType=VARCHAR},
      attrs_ = #{attrs,jdbcType=VARCHAR},
      order_ = #{order,jdbcType=SMALLINT}
    where id_ = #{id,jdbcType=INTEGER}
  </update><insert id="insert" parameterType="com.ujcms.core.domain.Storage">
    insert into ujcms_storage (id_, site_id_, name_, description_, type_, mode_, scope_, path_, url_, attrs_, order_)
    values (#{id,jdbcType=INTEGER}, #{siteId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{type,jdbcType=SMALLINT}, #{mode,jdbcType=SMALLINT}, #{scope,jdbcType=SMALLINT}, #{path,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{attrs,jdbcType=VARCHAR}, #{order,jdbcType=SMALLINT})
  </insert><sql id="Column_List">
    t.id_, t.site_id_, t.name_, t.description_, t.type_, t.mode_, t.scope_, t.path_, t.url_, t.attrs_, t.order_
  </sql></mapper>