<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujcms.core.mapper.UserMapper"><resultMap id="BaseResultMap" type="com.ujcms.core.domain.User">
    <id column="id_" jdbcType="INTEGER" property="id" />
    <result column="group_id_" jdbcType="INTEGER" property="groupId" />
    <result column="org_id_" jdbcType="INTEGER" property="orgId" />
    <result column="username_" jdbcType="VARCHAR" property="username" />
    <result column="password_" jdbcType="VARCHAR" property="password" />
    <result column="salt_" jdbcType="VARCHAR" property="salt" />
    <result column="email_" jdbcType="VARCHAR" property="email" />
    <result column="mobile_" jdbcType="VARCHAR" property="mobile" />
    <result column="alias_" jdbcType="VARCHAR" property="alias" />
    <result column="display_name_" jdbcType="VARCHAR" property="displayName" />
    <result column="avatar_" jdbcType="VARCHAR" property="avatar" />
    <result column="rank_" jdbcType="SMALLINT" property="rank" />
    <result column="status_" jdbcType="SMALLINT" property="status" />
  </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMap" type="com.ujcms.core.domain.User">
        <association column="id_" javaType="com.ujcms.core.domain.UserExt" property="ext" select="com.ujcms.core.mapper.UserExtMapper.select" />
        <association column="group_id_" javaType="com.ujcms.core.domain.Group" property="group" select="com.ujcms.core.mapper.GroupMapper.select" />
        <association column="org_id_" javaType="com.ujcms.core.domain.Org" property="org" select="com.ujcms.core.mapper.OrgMapper.select" />
        <collection column="id_" fetchType="lazy" javaType="ArrayList" property="roleList" select="com.ujcms.core.mapper.RoleMapper.listByUserId" />
    </resultMap>

    <sql id="selectAllJoin" />
    <sql id="selectAllWhere" />
    <select id="selectAll" resultMap="ResultMap">
        <include refid="com.ujcms.core.mapper.SeqMapper.Select_All">
            <property name="tableName" value="ujcms_user" />
        </include>
    </select>
    <select id="selectByUsername" resultMap="ResultMap">
        SELECT
        <include refid="Column_List" />
        FROM ujcms_user t
        WHERE t.username_ = #{username}
    </select>
    <select id="selectByEmail" resultMap="ResultMap">
        SELECT
        <include refid="Column_List" />
        FROM ujcms_user t
        WHERE t.email_ = #{email}
    </select>
    <select id="selectByMobile" resultMap="ResultMap">
        SELECT
        <include refid="Column_List" />
        FROM ujcms_user t
        WHERE t.mobile_ = #{mobile}
    </select>
    <select id="countByOrgId" resultType="int">
        SELECT COUNT(*)
        FROM ujcms_user
        WHERE org_id_ = #{orgId}
    </select>
    <select id="select" parameterType="int" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_user t
        where t.id_ = #{id,jdbcType=INTEGER}
    </select>
    <delete id="delete" parameterType="int">
        delete
        from ujcms_user
        where id_ = #{id,jdbcType=INTEGER}
    </delete><update id="update" parameterType="com.ujcms.core.domain.User">
    update ujcms_user
    set group_id_ = #{groupId,jdbcType=INTEGER},
      org_id_ = #{orgId,jdbcType=INTEGER},
      username_ = #{username,jdbcType=VARCHAR},
      password_ = #{password,jdbcType=VARCHAR},
      salt_ = #{salt,jdbcType=VARCHAR},
      email_ = #{email,jdbcType=VARCHAR},
      mobile_ = #{mobile,jdbcType=VARCHAR},
      alias_ = #{alias,jdbcType=VARCHAR},
      display_name_ = #{displayName,jdbcType=VARCHAR},
      avatar_ = #{avatar,jdbcType=VARCHAR},
      rank_ = #{rank,jdbcType=SMALLINT},
      status_ = #{status,jdbcType=SMALLINT}
    where id_ = #{id,jdbcType=INTEGER}
  </update><insert id="insert" parameterType="com.ujcms.core.domain.User">
    insert into ujcms_user (id_, group_id_, org_id_, username_, password_, salt_, email_, mobile_, alias_, display_name_, avatar_, rank_, status_)
    values (#{id,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER}, #{orgId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, #{displayName,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, #{rank,jdbcType=SMALLINT}, #{status,jdbcType=SMALLINT})
  </insert><sql id="Column_List">
    t.id_, t.group_id_, t.org_id_, t.username_, t.password_, t.salt_, t.email_, t.mobile_, t.alias_, t.display_name_, t.avatar_, t.rank_, t.status_
  </sql></mapper>