<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujcms.cms.ext.mapper.ArticleStatMapper">
    <resultMap id="ResultMap" type="com.ujcms.cms.ext.domain.ArticleStat">
        <result column="total_" jdbcType="INTEGER" property="total"/>
        <result column="published_" jdbcType="INTEGER" property="published"/>
        <result column="unpublished_" jdbcType="INTEGER" property="unpublished"/>
        <result column="user_id_" jdbcType="BIGINT" property="userId"/>
        <result column="channel_id_" jdbcType="BIGINT" property="channelId"/>
        <result column="org_id_" jdbcType="BIGINT" property="orgId"/>
        <association column="user_id_" javaType="com.ujcms.cms.core.domain.User" property="user"
                     select="com.ujcms.cms.core.mapper.UserMapper.select"/>
        <association column="org_id_" javaType="com.ujcms.cms.core.domain.Org" property="org"
                     select="com.ujcms.cms.core.mapper.OrgMapper.select"/>
        <association column="channel_id_" javaType="com.ujcms.cms.core.domain.Channel" property="channel"
                     select="com.ujcms.cms.core.mapper.ChannelMapper.select"/>
    </resultMap>
    <select id="statBy" resultMap="ResultMap">
        select
        <if test="type == 'user'">
            t.user_id_,
        </if>
        <if test="type == 'org'">
            t.org_id_,
        </if>
        <if test="type == 'channel'">
            t.channel_id_,
        </if>
        count(*) as total_,
        sum(CASE WHEN t.status_ in (0,1,5) THEN 1 ELSE 0 END) as published_,
        sum(CASE WHEN t.status_ not in (0,1,5) THEN 1 ELSE 0 END) as unpublished_
        from ujcms_article t
        <where>
            <if test="siteId != null">
                and t.site_id_ = #{siteId}
            </if>
            <if test="begin != null">
                and t.publish_date_ &gt;= #{begin}
            </if>
            <if test="end != null">
                and t.publish_date_ &lt; #{end}
            </if>
        </where>
        <if test="type == 'user'">
            group by t.user_id_
        </if>
        <if test="type == 'org'">
            group by t.org_id_
        </if>
        <if test="type == 'channel'">
            group by t.channel_id_
        </if>
        order by total_ desc
    </select>

</mapper>