<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujcms.cms.ext.mapper.MessageBoardMapper"><resultMap id="BaseResultMap" type="com.ujcms.cms.ext.domain.MessageBoard">
    <id column="id_" jdbcType="BIGINT" property="id" />
    <result column="site_id_" jdbcType="BIGINT" property="siteId" />
    <result column="type_id_" jdbcType="BIGINT" property="typeId" />
    <result column="user_id_" jdbcType="BIGINT" property="userId" />
    <result column="reply_user_id_" jdbcType="BIGINT" property="replyUserId" />
    <result column="title_" jdbcType="VARCHAR" property="title" />
    <result column="created_" jdbcType="TIMESTAMP" property="created" />
    <result column="reply_date_" jdbcType="TIMESTAMP" property="replyDate" />
    <result column="contact_" jdbcType="VARCHAR" property="contact" />
    <result column="nickname_" jdbcType="VARCHAR" property="nickname" />
    <result column="phone_" jdbcType="VARCHAR" property="phone" />
    <result column="email_" jdbcType="VARCHAR" property="email" />
    <result column="address_" jdbcType="VARCHAR" property="address" />
    <result column="open_" jdbcType="CHAR" property="open" />
    <result column="ip_" jdbcType="VARCHAR" property="ip" />
    <result column="replied_" jdbcType="CHAR" property="replied" />
    <result column="recommended_" jdbcType="CHAR" property="recommended" />
    <result column="status_" jdbcType="SMALLINT" property="status" />
  </resultMap><resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ujcms.cms.ext.domain.MessageBoard">
    <result column="text_" jdbcType="LONGVARCHAR" property="text" />
    <result column="reply_text_" jdbcType="LONGVARCHAR" property="replyText" />
  </resultMap>
    <resultMap extends="ResultMapWithBLOBs" id="ResultMap" type="com.ujcms.cms.ext.domain.MessageBoard">
        <association column="site_id_" javaType="com.ujcms.cms.core.domain.Site" property="site" select="com.ujcms.cms.core.mapper.SiteMapper.selectRefer" />
        <association column="type_id_" javaType="com.ujcms.cms.ext.domain.MessageBoardType" property="type" select="com.ujcms.cms.ext.mapper.MessageBoardTypeMapper.select" />
        <association column="user_id_" javaType="com.ujcms.cms.core.domain.User" property="user" select="com.ujcms.cms.core.mapper.UserMapper.selectRefer" />
        <association column="reply_user_id_" javaType="com.ujcms.cms.core.domain.User" property="replyUser" select="com.ujcms.cms.core.mapper.UserMapper.selectRefer" />
    </resultMap>
    <sql id="selectAllSelect" />
    <sql id="selectAllJoin" />
    <sql id="selectAllWhere" />
    <select id="selectAll" resultMap="ResultMap">
        <include refid="com.ujcms.cms.core.mapper.SeqMapper.Select_All">
            <property name="tableName" value="ujcms_message_board" />
        </include>
    </select>
    <select id="select" parameterType="java.lang.Long" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_message_board t
        where t.id_ = #{id,jdbcType=BIGINT}
    </select>
    <delete id="delete" parameterType="java.lang.Long">
        delete
        from ujcms_message_board
        where id_ = #{id,jdbcType=BIGINT}
    </delete><update id="update" parameterType="com.ujcms.cms.ext.domain.MessageBoard">
    update ujcms_message_board
    set site_id_ = #{siteId,jdbcType=BIGINT},
      type_id_ = #{typeId,jdbcType=BIGINT},
      user_id_ = #{userId,jdbcType=BIGINT},
      reply_user_id_ = #{replyUserId,jdbcType=BIGINT},
      title_ = #{title,jdbcType=VARCHAR},
      created_ = #{created,jdbcType=TIMESTAMP},
      reply_date_ = #{replyDate,jdbcType=TIMESTAMP},
      contact_ = #{contact,jdbcType=VARCHAR},
      nickname_ = #{nickname,jdbcType=VARCHAR},
      phone_ = #{phone,jdbcType=VARCHAR},
      email_ = #{email,jdbcType=VARCHAR},
      address_ = #{address,jdbcType=VARCHAR},
      open_ = #{open,jdbcType=CHAR},
      ip_ = #{ip,jdbcType=VARCHAR},
      replied_ = #{replied,jdbcType=CHAR},
      recommended_ = #{recommended,jdbcType=CHAR},
      status_ = #{status,jdbcType=SMALLINT},
      text_ = #{text,jdbcType=LONGVARCHAR},
      reply_text_ = #{replyText,jdbcType=LONGVARCHAR}
    where id_ = #{id,jdbcType=BIGINT}
  </update><insert id="insert" parameterType="com.ujcms.cms.ext.domain.MessageBoard">
    insert into ujcms_message_board (id_, site_id_, type_id_, user_id_, reply_user_id_, title_, created_, reply_date_, contact_, nickname_, phone_, email_, address_, open_, ip_, replied_, recommended_, status_, text_, reply_text_)
    values (#{id,jdbcType=BIGINT}, #{siteId,jdbcType=BIGINT}, #{typeId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{replyUserId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{replyDate,jdbcType=TIMESTAMP}, #{contact,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{open,jdbcType=CHAR}, #{ip,jdbcType=VARCHAR}, #{replied,jdbcType=CHAR}, #{recommended,jdbcType=CHAR}, #{status,jdbcType=SMALLINT}, #{text,jdbcType=LONGVARCHAR}, #{replyText,jdbcType=LONGVARCHAR})
  </insert><sql id="Column_List">
    t.id_, t.site_id_, t.type_id_, t.user_id_, t.reply_user_id_, t.title_, t.created_, t.reply_date_, t.contact_, t.nickname_, t.phone_, t.email_, t.address_, t.open_, t.ip_, t.replied_, t.recommended_, t.status_, t.text_, t.reply_text_
  </sql></mapper>