<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujcms.cms.ext.mapper.SurveyItemFeedbackMapper"><resultMap id="BaseResultMap" type="com.ujcms.cms.ext.domain.SurveyItemFeedback">
    <id column="id_" jdbcType="BIGINT" property="id" />
    <result column="survey_item_id_" jdbcType="BIGINT" property="surveyItemId" />
    <result column="survey_feedback_id_" jdbcType="BIGINT" property="surveyFeedbackId" />
    <result column="survey_id_" jdbcType="BIGINT" property="surveyId" />
  </resultMap><resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ujcms.cms.ext.domain.SurveyItemFeedback">
    <result column="answer_" jdbcType="LONGVARCHAR" property="answer" />
  </resultMap>
  <resultMap extends="ResultMapWithBLOBs" id="ResultMap" type="com.ujcms.cms.ext.domain.SurveyItemFeedback">
    <association column="survey_feedback_id_" javaType="com.ujcms.cms.ext.domain.SurveyFeedback" property="feedback" select="com.ujcms.cms.ext.mapper.SurveyFeedbackMapper.select" />
  </resultMap>
  <delete id="deleteByItemIds" parameterType="long">
    delete
    from ujcms_survey_item_feedback
    where survey_item_id_ in <foreach close=")" collection="itemIds" item="item" open="(" separator=",">#{item}</foreach>
  </delete>
  <delete id="deleteByFeedbackId" parameterType="long">
    delete
    from ujcms_survey_item_feedback
    where survey_feedback_id_ = #{feedbackId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteBySurveyId" parameterType="long">
    delete
    from ujcms_survey_item_feedback
    where survey_id_ = #{surveyId,jdbcType=BIGINT}
    <foreach close=")" collection="itemIds" item="item" nullable="true" open="and survey_item_id_ not in (" separator=",">
      #{item}
    </foreach>
  </delete>
  <delete id="deleteByUserId" parameterType="long">
    delete
    from ujcms_survey_item_feedback
    where survey_id_ in (select t.id_ from ujcms_survey_feedback t where t.user_id_ = #{userId,jdbcType=BIGINT})
  </delete>
  <delete id="deleteBySiteId" parameterType="long">
    delete
    from ujcms_survey_item_feedback
    where survey_id_ in (select t.id_ from ujcms_survey_feedback t where t.site_id_ = #{siteId,jdbcType=BIGINT})
  </delete>
  <sql id="selectAllSelect" />
  <sql id="selectAllJoin" />
  <sql id="selectAllWhere" />
  <select id="selectAll" resultMap="ResultMap">
    <include refid="com.ujcms.cms.core.mapper.SeqMapper.Select_All">
      <property name="tableName" value="ujcms_survey_item_feedback" />
    </include>
  </select>
  <select id="select" parameterType="java.lang.Long" resultMap="ResultMap">
    select 
    <include refid="Column_List" />
    from ujcms_survey_item_feedback t
    where t.id_ = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from ujcms_survey_item_feedback
    where id_ = #{id,jdbcType=BIGINT}
  </delete><update id="update" parameterType="com.ujcms.cms.ext.domain.SurveyItemFeedback">
    update ujcms_survey_item_feedback
    set survey_item_id_ = #{surveyItemId,jdbcType=BIGINT},
      survey_feedback_id_ = #{surveyFeedbackId,jdbcType=BIGINT},
      survey_id_ = #{surveyId,jdbcType=BIGINT},
      answer_ = #{answer,jdbcType=LONGVARCHAR}
    where id_ = #{id,jdbcType=BIGINT}
  </update><insert id="insert" parameterType="com.ujcms.cms.ext.domain.SurveyItemFeedback">
    insert into ujcms_survey_item_feedback (id_, survey_item_id_, survey_feedback_id_, survey_id_, answer_)
    values (#{id,jdbcType=BIGINT}, #{surveyItemId,jdbcType=BIGINT}, #{surveyFeedbackId,jdbcType=BIGINT}, #{surveyId,jdbcType=BIGINT}, #{answer,jdbcType=LONGVARCHAR})
  </insert><sql id="Column_List">
    t.id_, t.survey_item_id_, t.survey_feedback_id_, t.survey_id_, t.answer_
  </sql></mapper>