<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujcms.cms.ext.mapper.SurveyItemMapper"><resultMap id="BaseResultMap" type="com.ujcms.cms.ext.domain.SurveyItem">
    <id column="id_" jdbcType="BIGINT" property="id" />
    <result column="site_id_" jdbcType="BIGINT" property="siteId" />
    <result column="survey_id_" jdbcType="BIGINT" property="surveyId" />
    <result column="title_" jdbcType="VARCHAR" property="title" />
    <result column="order_" jdbcType="INTEGER" property="order" />
    <result column="multiple_" jdbcType="CHAR" property="multiple" />
    <result column="essay_" jdbcType="CHAR" property="essay" />
  </resultMap><resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ujcms.cms.ext.domain.SurveyItem" />
  <resultMap extends="ResultMapWithBLOBs" id="ResultMap" type="com.ujcms.cms.ext.domain.SurveyItem">
    <collection column="id_" fetchType="lazy" ofType="com.ujcms.cms.ext.domain.SurveyOption" property="options" select="com.ujcms.cms.ext.mapper.SurveyOptionMapper.listByItemId" />
  </resultMap>
  <delete id="deleteBySurveyId" parameterType="long">
    delete
    from ujcms_survey_item
    where survey_id_ = #{surveyId,jdbcType=BIGINT}
    <foreach close=")" collection="ids" item="item" nullable="true" open="and id_ not in (" separator=",">
      #{item}
    </foreach>
  </delete>
  <delete id="deleteBySiteId" parameterType="long">
    delete
    from ujcms_survey_item
    where site_id_ = #{siteId,jdbcType=BIGINT}
  </delete>
  <select id="listBySurveyId" resultMap="ResultMap">
    select
    <include refid="Column_List" />
    from ujcms_survey_item t
    where t.survey_id_ = #{surveyId,jdbcType=BIGINT}
    order by t.order_, t.id_
  </select>
  <sql id="selectAllSelect" />
  <sql id="selectAllJoin" />
  <sql id="selectAllWhere" />
  <select id="selectAll" resultMap="ResultMap">
    <include refid="com.ujcms.cms.core.mapper.SeqMapper.Select_All">
      <property name="tableName" value="ujcms_survey_item" />
    </include>
  </select>
  <select id="select" parameterType="java.lang.Long" resultMap="ResultMap">
    select 
    <include refid="Column_List" />
    from ujcms_survey_item t
    where t.id_ = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from ujcms_survey_item
    where id_ = #{id,jdbcType=BIGINT}
  </delete><update id="update" parameterType="com.ujcms.cms.ext.domain.SurveyItem">
    update ujcms_survey_item
    set site_id_ = #{siteId,jdbcType=BIGINT},
      survey_id_ = #{surveyId,jdbcType=BIGINT},
      title_ = #{title,jdbcType=VARCHAR},
      order_ = #{order,jdbcType=INTEGER},
      multiple_ = #{multiple,jdbcType=CHAR},
      essay_ = #{essay,jdbcType=CHAR}
    where id_ = #{id,jdbcType=BIGINT}
  </update><insert id="insert" parameterType="com.ujcms.cms.ext.domain.SurveyItem">
    insert into ujcms_survey_item (id_, site_id_, survey_id_, title_, order_, multiple_, essay_)
    values (#{id,jdbcType=BIGINT}, #{siteId,jdbcType=BIGINT}, #{surveyId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{order,jdbcType=INTEGER}, #{multiple,jdbcType=CHAR}, #{essay,jdbcType=CHAR})
  </insert><sql id="Column_List">
    t.id_, t.site_id_, t.survey_id_, t.title_, t.order_, t.multiple_, t.essay_
  </sql></mapper>