<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujcms.cms.ext.mapper.VisitLogMapper"><resultMap id="BaseResultMap" type="com.ujcms.cms.ext.domain.VisitLog">
    <id column="id_" jdbcType="BIGINT" property="id" />
    <result column="site_id_" jdbcType="BIGINT" property="siteId" />
    <result column="user_id_" jdbcType="BIGINT" property="userId" />
    <result column="url_" jdbcType="VARCHAR" property="url" />
    <result column="entry_url_" jdbcType="VARCHAR" property="entryUrl" />
    <result column="source_" jdbcType="VARCHAR" property="source" />
    <result column="source_type_" jdbcType="VARCHAR" property="sourceType" />
    <result column="country_" jdbcType="VARCHAR" property="country" />
    <result column="province_" jdbcType="VARCHAR" property="province" />
    <result column="device_" jdbcType="VARCHAR" property="device" />
    <result column="os_" jdbcType="VARCHAR" property="os" />
    <result column="browser_" jdbcType="VARCHAR" property="browser" />
    <result column="user_agent_" jdbcType="VARCHAR" property="userAgent" />
    <result column="count_" jdbcType="INTEGER" property="count" />
    <result column="si_" jdbcType="BIGINT" property="si" />
    <result column="uv_" jdbcType="BIGINT" property="uv" />
    <result column="ip_" jdbcType="VARCHAR" property="ip" />
    <result column="date_" jdbcType="TIMESTAMP" property="date" />
    <result column="duration_" jdbcType="INTEGER" property="duration" />
    <result column="new_visitor_" jdbcType="CHAR" property="newVisitor" />
  </resultMap><resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ujcms.cms.ext.domain.VisitLog" />
    <resultMap extends="ResultMapWithBLOBs" id="ResultMap" type="com.ujcms.cms.ext.domain.VisitLog" />

    <select id="countVisitors" resultType="int">
        select count(DISTINCT t.uv_)
        from ujcms_visit_log t
        where t.date_ &gt; #{date}
    </select>
    <insert id="insertBatch">
        insert into ujcms_visit_log (id_, site_id_, user_id_, url_, entry_url_, source_, source_type_, country_,
        province_, device_, os_, browser_, user_agent_, count_, si_, uv_, ip_, date_, duration_, new_visitor_)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=BIGINT}, #{item.siteId,jdbcType=BIGINT},
            #{item.userId,jdbcType=BIGINT}, #{item.url,jdbcType=VARCHAR}, #{item.entryUrl,jdbcType=VARCHAR},
            #{item.source,jdbcType=VARCHAR}, #{item.sourceType,jdbcType=VARCHAR},
            #{item.country,jdbcType=VARCHAR}, #{item.province,jdbcType=VARCHAR},
            #{item.device,jdbcType=VARCHAR}, #{item.os,jdbcType=VARCHAR}, #{item.browser,jdbcType=VARCHAR},
            #{item.userAgent,jdbcType=VARCHAR}, #{item.count,jdbcType=INTEGER}, #{item.si,jdbcType=BIGINT},
            #{item.uv,jdbcType=BIGINT}, #{item.ip,jdbcType=VARCHAR},
            #{item.date,jdbcType=TIMESTAMP}, #{item.duration,jdbcType=INTEGER}, #{item.newVisitor,jdbcType=CHAR})
        </foreach>
    </insert>

    <delete id="deleteBeforeDate">
        delete
        from ujcms_visit_log
        where date_ &lt; #{date}
    </delete>
    <delete id="deleteBySiteId" parameterType="long">
        delete
        from ujcms_visit_log
        where site_id_ = #{siteId,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByUserId" parameterType="long">
        delete
        from ujcms_visit_log
        where user_id_ = #{userId,jdbcType=BIGINT}
    </delete>

    <select id="statByName" resultMap="com.ujcms.cms.ext.mapper.VisitStatMapper.ResultMap">
        SELECT tt.site_id_        AS site_id_,
               tt.name_           AS name_,
               SUM(pv_count_)     AS pv_count_,
               SUM(uv_count_)     AS uv_count_,
               SUM(ip_count_)     AS ip_count_,
               SUM(nv_count_)     AS nv_count_,
               SUM(duration_)     AS duration_,
               SUM(bounce_count_) AS bounce_count_
        FROM (SELECT t.site_id_                                                           AS site_id_
                   , t.${name}                                                            AS name_
                   , SUM(t.count_)                                                        AS pv_count_
                   , CASE WHEN SUM(t.count_) &gt; 0 THEN COUNT(DISTINCT t.uv_) ELSE 0 END AS uv_count_
                   , CASE WHEN SUM(t.count_) &gt; 0 THEN COUNT(DISTINCT t.ip_) ELSE 0 END AS ip_count_
                   , CASE
                         WHEN SUM(t.count_) &gt; 0 AND SUM(CASE WHEN t.new_visitor_ = '1' THEN 1 ELSE 0 END) &gt; 0 THEN 1
                         ELSE 0 END                                                       AS nv_count_
                   , MAX(duration_)                                                       AS duration_
                   , CASE WHEN SUM(t.count_) = 1 THEN 1 ELSE 0 END                        AS bounce_count_
              FROM ujcms_visit_log t
              WHERE t.date_ &gt;= #{begin}
                AND t.date_ &lt; #{end}
              GROUP BY t.site_id_, t.${name}, t.si_) tt
        GROUP BY site_id_, name_
    </select>
    <select id="statProvince" resultMap="com.ujcms.cms.ext.mapper.VisitStatMapper.ResultMap">
        SELECT tt.site_id_        AS site_id_,
               tt.name_           AS name_,
               SUM(pv_count_)     AS pv_count_,
               SUM(uv_count_)     AS uv_count_,
               SUM(ip_count_)     AS ip_count_,
               SUM(nv_count_)     AS nv_count_,
               SUM(duration_)     AS duration_,
               SUM(bounce_count_) AS bounce_count_
        FROM (SELECT t.site_id_                                                           AS site_id_
                   , t.province_                                                          AS name_
                   , SUM(t.count_)                                                        AS pv_count_
                   , CASE WHEN SUM(t.count_) &gt; 0 THEN COUNT(DISTINCT t.uv_) ELSE 0 END AS uv_count_
                   , CASE WHEN SUM(t.count_) &gt; 0 THEN COUNT(DISTINCT t.ip_) ELSE 0 END AS ip_count_
                   , CASE
                         WHEN SUM(t.count_) &gt; 0 AND SUM(CASE WHEN t.new_visitor_ = '1' THEN 1 ELSE 0 END) &gt; 0 THEN 1
                         ELSE 0 END                                                       AS nv_count_
                   , CASE WHEN SUM(t.count_) &gt; 0 THEN MAX(duration_) ELSE 0 END        AS duration_
                   , CASE WHEN SUM(t.count_) = 1 THEN 1 ELSE 0 END                        AS bounce_count_
              FROM ujcms_visit_log t
              WHERE t.date_ &gt;= #{begin}
                AND t.date_ &lt; #{end}
                AND t.country_ = #{country}
              GROUP BY t.site_id_, t.province_, t.si_) tt
        GROUP BY site_id_, name_
    </select>
    <select id="statUrl" resultMap="com.ujcms.cms.ext.mapper.VisitPageMapper.ResultMap">
        SELECT t.site_id_            AS site_id_
             , t.url_                AS url_
             , COUNT(*)              AS pv_count_
             , COUNT(DISTINCT t.uv_) AS uv_count_
             , COUNT(DISTINCT t.ip_) AS ip_count_
        FROM ujcms_visit_log t
        WHERE t.date_ &gt;= #{begin}
          AND t.date_ &lt; #{end}
          AND t.count_ &gt; 0
        GROUP BY t.site_id_, t.url_
    </select>
    <select id="statEntryUrl" resultMap="com.ujcms.cms.ext.mapper.VisitPageMapper.ResultMap">
        SELECT t.site_id_            AS site_id_
             , t.entry_url_          AS url_
             , COUNT(*)              AS pv_count_
             , COUNT(DISTINCT t.uv_) AS uv_count_
             , COUNT(DISTINCT t.ip_) AS ip_count_
        FROM ujcms_visit_log t
        WHERE t.date_ &gt;= #{begin}
          AND t.date_ &lt; #{end}
          AND t.count_ &gt; 0
        GROUP BY t.site_id_, t.entry_url_
    </select>
    <!-- 子查询根据sessionId分组，目的是获取访问时长 -->
    <select id="statTrend" resultMap="com.ujcms.cms.ext.mapper.VisitTrendMapper.ResultMap">
        SELECT tt.site_id_        AS site_id_,
               SUM(pv_count_)     AS pv_count_,
               SUM(uv_count_)     AS uv_count_,
               SUM(ip_count_)     AS ip_count_,
               SUM(nv_count_)     AS nv_count_,
               SUM(duration_)     AS duration_,
               SUM(bounce_count_) AS bounce_count_
        FROM (SELECT t.site_id_                                                           AS site_id_
                   , SUM(t.count_)                                                        AS pv_count_
                   , CASE WHEN SUM(t.count_) &gt; 0 THEN COUNT(DISTINCT t.uv_) ELSE 0 END AS uv_count_
                   , CASE WHEN SUM(t.count_) &gt; 0 THEN COUNT(DISTINCT t.ip_) ELSE 0 END AS ip_count_
                   , CASE
                         WHEN SUM(t.count_) &gt; 0 AND SUM(CASE WHEN t.new_visitor_ = '1' THEN 1 ELSE 0 END) &gt; 0 THEN 1
                         ELSE 0 END                                                       AS nv_count_
                   , CASE WHEN SUM(t.count_) &gt; 0 THEN MAX(duration_) ELSE 0 END        AS duration_
                   , CASE WHEN SUM(t.count_) = 1 THEN 1 ELSE 0 END                        AS bounce_count_
              FROM ujcms_visit_log t
              WHERE t.date_ &gt;= #{begin}
                AND t.date_ &lt; #{end}
              GROUP BY t.site_id_, t.si_) tt
        GROUP BY site_id_
    </select>

    <sql id="selectAllSelect" />
    <sql id="selectAllJoin" />
    <sql id="selectAllWhere" />
    <select id="selectAll" resultMap="ResultMap">
        <include refid="com.ujcms.cms.core.mapper.SeqMapper.Select_All">
            <property name="tableName" value="ujcms_visit_log" />
        </include>
    </select>
    <select id="select" parameterType="java.lang.Long" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_visit_log t
        where t.id_ = #{id,jdbcType=BIGINT}
    </select>
    <delete id="delete" parameterType="java.lang.Long">
        delete
        from ujcms_visit_log
        where id_ = #{id,jdbcType=BIGINT}
    </delete><update id="update" parameterType="com.ujcms.cms.ext.domain.VisitLog">
    update ujcms_visit_log
    set site_id_ = #{siteId,jdbcType=BIGINT},
      user_id_ = #{userId,jdbcType=BIGINT},
      url_ = #{url,jdbcType=VARCHAR},
      entry_url_ = #{entryUrl,jdbcType=VARCHAR},
      source_ = #{source,jdbcType=VARCHAR},
      source_type_ = #{sourceType,jdbcType=VARCHAR},
      country_ = #{country,jdbcType=VARCHAR},
      province_ = #{province,jdbcType=VARCHAR},
      device_ = #{device,jdbcType=VARCHAR},
      os_ = #{os,jdbcType=VARCHAR},
      browser_ = #{browser,jdbcType=VARCHAR},
      user_agent_ = #{userAgent,jdbcType=VARCHAR},
      count_ = #{count,jdbcType=INTEGER},
      si_ = #{si,jdbcType=BIGINT},
      uv_ = #{uv,jdbcType=BIGINT},
      ip_ = #{ip,jdbcType=VARCHAR},
      date_ = #{date,jdbcType=TIMESTAMP},
      duration_ = #{duration,jdbcType=INTEGER},
      new_visitor_ = #{newVisitor,jdbcType=CHAR}
    where id_ = #{id,jdbcType=BIGINT}
  </update><insert id="insert" parameterType="com.ujcms.cms.ext.domain.VisitLog">
    insert into ujcms_visit_log (id_, site_id_, user_id_, url_, entry_url_, source_, source_type_, country_, province_, device_, os_, browser_, user_agent_, count_, si_, uv_, ip_, date_, duration_, new_visitor_)
    values (#{id,jdbcType=BIGINT}, #{siteId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR}, #{entryUrl,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{sourceType,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{device,jdbcType=VARCHAR}, #{os,jdbcType=VARCHAR}, #{browser,jdbcType=VARCHAR}, #{userAgent,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}, #{si,jdbcType=BIGINT}, #{uv,jdbcType=BIGINT}, #{ip,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP}, #{duration,jdbcType=INTEGER}, #{newVisitor,jdbcType=CHAR})
  </insert><sql id="Column_List">
    t.id_, t.site_id_, t.user_id_, t.url_, t.entry_url_, t.source_, t.source_type_, t.country_, t.province_, t.device_, t.os_, t.browser_, t.user_agent_, t.count_, t.si_, t.uv_, t.ip_, t.date_, t.duration_, t.new_visitor_
  </sql></mapper>