<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>${channel.name} - ${site.title}</title>
  <meta name="keywords" content="${channel.seoKeywords!}">
  <meta name="description" content="${channel.seoDescription!}">
  [#include 'includes_meta.html'/]
  [#include 'includes_css.html'/]
  [#include 'includes_js.html'/]
</head>
<body>
[#include 'includes_header.html'/]
<div class="bg-gray-200">
  <div class="container">
    <nav class="row" aria-label="breadcrumb">
      <ol class="col list-inline my-2">
        [#assign parent = channel.parent!channel/]
        <li class="list-inline-item"><a class="btn btn-sm [#if parent == channel]btn-primary[#else]btn-link[/#if]" href="${parent.url}">全部</a></li>
        [@ChannelList parentId=parent.id; list]
          [#list list as bean]
            <li class="list-inline-item"><a class="btn btn-sm [#if channel == bean]btn-primary[#else]btn-link[/#if]" href="${bean.url}">${bean.name}</a></li>
          [/#list]
        [/@ChannelList]
      </ol>
    </nav>
  </div>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-lg-8">
      <div>
        [#assign customsQueryMap={}/]
        [#list channel.articleModel.fieldList?filter(field->['radio','checkbox','select','multipleSelect']?seqContains(field.type)) as field]
          <div class="py-1 border-bottom">
            [#assign param=field.code/]
            <a href="${addParam(channel.url, channel.dynamicUrl, param)}" class="btn btn-sm[#if !Params[param]??] btn-secondary[#else] btn-link text-reset[/#if]">全部${field.name}</a>
            [@DictList typeId=field.dictTypeId; list]
              [#list list as dict]
                <a href="${addParam(channel.url, channel.dynamicUrl, param, dict.name)}"
                   class="btn btn-sm [#if Params[param]! == dict.name]btn-secondary[#else]btn-link text-reset[/#if]">${dict.name}</a>
              [/#list]
            [/@DictList]
          </div>
          [#assign customsQueryMap=customsQueryMap + {'EQ_'+param: Params[param]!}/]
        [/#list]
      </div>
      [@ArticlePage channelId=channel.id isIncludeSubChannel='true' customs=customsQueryMap; pagedList]
        <ul class="list-unstyled">
          [#list pagedList.content as bean]
            <li class="mt-3 media border-bottom position-relative pb-3">
              [#if bean.image??][@A bean=bean class="mr-3"]<img src="${bean.image}" class="rounded-sm cm-media-img" alt="${bean.title}">[/@A][/#if]
              <div class="media-body">
                <p class="mt-0 mb-1">[@A bean=bean class="cm-link text-decoration-none"/]</p>
                <p class="text-muted d-none d-sm-block mb-2">
                  [@A bean=bean class="text-reset text-sm text-decoration-none"]${substring(bean.description,60,'...')}[/@A]
                </p>
                <div class="small text-muted mt-3 clearfix">
                  <div class="float-left">
                    <span>[#list bean.channel.paths as c][@A bean=c/][#if c_has_next] > [/#if][/#list]</span>
                    <i class="ml-2 far fa-eye"></i> ${bean.views}
                  </div>
                  <div class="float-right"><i class="ml-2 far fa-clock"></i> ${bean.publishDate.format('yyyy-MM-dd')}</div>
                </div>
              </div>
            </li>
          [/#list]
        </ul>
        [#include 'includes_page.html'/]
      [/@ArticlePage]
    </div>
    [#include 'includes_right.html'/]
  </div>
</div>
[#include 'includes_footer.html'/]
<script>axios.get('${api}/channel/view/${channel.id}');</script>
</body>
</html>
