<div class="col-sm-4 px-4 d-none d-lg-block">
  <h5 class="ml-2"><i class="far fa-newspaper  text-primary"></i> 热点新闻</h5>
  <div class="px-2 pb-2 mt-3">
    [@ArticleList orderBy='@articleBuffer-weekViews_desc' limit='9'; beans]
      [#list beans as bean]
        <div class="mt-3 d-flex flex-row">
          <div><span class="badge [#if bean_index==0]badge-danger[#elseif bean_index==1]badge-warning text-white[#elseif bean_index==2]badge-primary[#else]badge-secondary[/#if]"
                     style="width:26px;">${bean_index+1}</span></div>
          <div class="ml-2 text-truncate">[@A bean=bean class="cm-link text-sm"/]</div>
        </div>
      [/#list]
    [/@ArticleList]
  </div>

  [@Channel alias='video';bean]
    <h5 class="mt-3 ml-2">
      <i class="fas fa-film text-primary"></i> [@A bean=bean class="text-reset text-decoration-none"]精彩视频[/@A]
    </h5>
  [/@Channel]
  <div class="px-3">
    [@ArticleList channel='video' isIncludeSubChannel='true' limit='5';list]
      [#list list as bean]
        <div class="py-3 px-2 position-relative">
          [#--<img src="${bean.image}" class="img-fluid" alt="${bean.title}">--]
          <div class="position-relative">
            [@A bean=bean]<img src="${bean.image}" class="card-img-top" alt="${bean.title}">[/@A]
            <div class="cm-trans-bottom clearfix px-2 text-light">
              <div class="float-left"><i class="far fa-play-circle"></i></div>
              <div class="float-right">${bean.videoTime}</div>
            </div>
          </div>
          <div class="mt-2">[@A bean=bean class="cm-link text-sm"/]</div>
        </div>
      [/#list]
    [/@ArticleList]
  </div>
</div>
