<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>${site.title}</title>
  <meta name="keywords" content="${site.seoKeywords!}">
  <meta name="description" content="${site.seoDescription!}">
  [#include 'includes_meta.html'/]
  [#include 'includes_css.html'/]
  [#include 'includes_js.html'/]
</head>
<body>
[#assign headerShadow=true/]
[#include 'includes_header.html'/]
<div class="container">
  [@EsArticlePage q=Params.q! isOperatorAnd='true'; pagedList]
    <h3 class="mt-3">搜索结果</h3>
    <p class="small text-muted">为您找到相关结果 ${pagedList.totalElements} 篇</p>
    <ul class="list-unstyled">
      [#list pagedList.content as bean]
        <li class="mt-3 media border-bottom position-relative pb-3">
          [#if bean.image??][@A bean=bean class="mr-3"]<img src="${bean.image}" class="rounded-sm cm-media-img" alt="${bean.title}">[/@A][/#if]
          <div class="media-body es-highlight">
            <p class="mt-0 mb-1">[@A bean=bean class="cm-link text-decoration-none"]${(bean.highlightTitle!bean.title)?no_esc}[/@A]</p>
            <p class="text-muted d-none d-sm-block mb-2">
              [@A bean=bean class="text-reset text-sm text-decoration-none"]${(bean.highlightBody!substring(bean.body,100,'...'))?no_esc}[/@A]
            </p>
            <div class="small text-muted mt-3 clearfix">
              <div class="float-left">
                <span>[#list bean.channel.paths as c][@A bean=c/][#if c_has_next] > [/#if][/#list]</span>
              </div>
              <div class="float-right"><i class="ml-2 far fa-clock"></i> ${bean.publishDate.format('yyyy-MM-dd')}</div>
            </div>
          </div>
        </li>
      [/#list]
    </ul>
    [#include 'includes_page.html'/]
  [/@EsArticlePage]
</div>
[#include 'includes_footer.html'/]
</body>
</html>
