<!doctype html>
[#escape x as (x)!?html]
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>调查问卷 - ${site.title}</title>
  <meta name="keywords" content="${site.seoKeywords}">
  <meta name="description" content="${site.seoDescription}">
  <meta name="_csrf" content="${_csrf.token}"/>
  <meta name="_csrf_header" content="${_csrf.headerName}"/>
  [#include 'inc_meta.html'/]
  [#include 'inc_css.html'/]
  [#include 'inc_js.html'/]
</head>
<body>
[#-- 用于当前栏目高亮显示 --]
[#assign channelAlias='survey'/]
[#assign headerShadow=true/]
[#include 'inc_header.html'/]
<div class="bg-gray-200">
  <div class="container">
    <nav class="row" aria-label="breadcrumb">
      <ol class="col list-inline my-2">
        <li class="list-inline-item"><a href="${site.url}">首页</a></li>
        <li class="list-inline-item">/</li>
        <li class="list-inline-item"><a href="${dy}/survey">调查问卷</a></li>
      </ol>
    </nav>
  </div>
</div>
<div class="container mt-4">
  [@SurveyPage;pagedList]
  <ul class="list-unstyled">
    [#list pagedList.content as bean]
    <li class="mt-3 media border-bottom position-relative pb-2">
      <div class="media-body">
        <p class="mt-0 mb-1"><a href="${dy}/survey/${bean.id?c}" class="cm-link text-decoration-none">${bean.title}</a></p>
        <div class="small text-muted mt-2 clearfix">
          <div class="float-left">
            [#if bean.status == 0]
            <span class="badge badge-success">进行中</span>
            [#elseif bean.status == 1]
            <span class="badge badge-secondary">未启用</span>
            [#elseif bean.status == 2]
            <span class="badge badge-warning">未开始</span>
            [#elseif survey.status == 3]
            <span class="badge badge-info">已结束</span>
            [#else]
            <span class="badge badge-danger">未知状态</span>
            [/#if]
            <i class="ml-2 fas fa-vote-yea text-primary" title="参与人次"></i> <span>${bean.times}</span>
          </div>
          <div class="float-right"><i class="ml-2 far fa-clock"></i> ${format(bean.created, 'yyyy-MM-dd')}</div>
        </div>
      </div>
    </li>
    [/#list]
  </ul>
  [#include 'inc_page.html'/]
  [/@SurveyPage]
</div>
[#include 'inc_footer.html'/]
[#include 'inc_message_box.html'/]
</body>
</html>
[/#escape]
