<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujcms.cms.core.mapper.ArticleCustomMapper"><resultMap id="BaseResultMap" type="com.ujcms.cms.core.domain.ArticleCustom">
    <id column="id_" jdbcType="BIGINT" property="id" />
    <result column="article_id_" jdbcType="INTEGER" property="articleId" />
    <result column="name_" jdbcType="VARCHAR" property="name" />
    <result column="type_" jdbcType="VARCHAR" property="type" />
    <result column="value_" jdbcType="LONGVARCHAR" property="value" />
  </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMap" type="com.ujcms.cms.core.domain.ArticleCustom" />
    <select id="listByArticleId" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_article_custom t
        where t.article_id_ = #{articleId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByArticleId" parameterType="int">
        delete
        from ujcms_article_custom
        where article_id_ = #{articleId,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByChannelId" parameterType="int">
        delete
        from ujcms_article_custom
        where exists(select * from ujcms_article t where t.id_ = ujcms_article_custom.article_id_ and t.channel_id_ = #{channelId,jdbcType=INTEGER})
    </delete>
    <delete id="deleteBySiteId" parameterType="int">
        delete
        from ujcms_article_custom
        where exists(select * from ujcms_article t where t.id_ = ujcms_article_custom.article_id_ and t.site_id_ = #{siteId,jdbcType=INTEGER})
    </delete>
    <sql id="selectAllJoin" />
    <sql id="selectAllWhere" />
    <select id="selectAll" resultMap="ResultMap">
        <include refid="com.ujcms.cms.core.mapper.SeqMapper.Select_All">
            <property name="tableName" value="ujcms_article_custom" />
        </include>
    </select><update id="update" parameterType="com.ujcms.cms.core.domain.ArticleCustom">
    update ujcms_article_custom
    set article_id_ = #{articleId,jdbcType=INTEGER},
      name_ = #{name,jdbcType=VARCHAR},
      type_ = #{type,jdbcType=VARCHAR},
      value_ = #{value,jdbcType=LONGVARCHAR}
    where id_ = #{id,jdbcType=BIGINT}
  </update><insert id="insert" parameterType="com.ujcms.cms.core.domain.ArticleCustom">
    insert into ujcms_article_custom (id_, article_id_, name_, type_, value_)
    values (#{id,jdbcType=BIGINT}, #{articleId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{value,jdbcType=LONGVARCHAR})
  </insert><sql id="Column_List">
    t.id_, t.article_id_, t.name_, t.type_, t.value_
  </sql></mapper>