<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujcms.cms.core.mapper.BlockMapper"><resultMap id="BaseResultMap" type="com.ujcms.cms.core.domain.Block">
    <id column="id_" jdbcType="BIGINT" property="id" />
    <result column="site_id_" jdbcType="BIGINT" property="siteId" />
    <result column="name_" jdbcType="VARCHAR" property="name" />
    <result column="alias_" jdbcType="VARCHAR" property="alias" />
    <result column="scope_" jdbcType="SMALLINT" property="scope" />
    <result column="with_link_url_" jdbcType="CHAR" property="withLinkUrl" />
    <result column="with_subtitle_" jdbcType="CHAR" property="withSubtitle" />
    <result column="with_description_" jdbcType="CHAR" property="withDescription" />
    <result column="with_image_" jdbcType="CHAR" property="withImage" />
    <result column="with_mobile_image_" jdbcType="CHAR" property="withMobileImage" />
    <result column="with_video_" jdbcType="CHAR" property="withVideo" />
    <result column="link_url_required_" jdbcType="CHAR" property="linkUrlRequired" />
    <result column="subtitle_required_" jdbcType="CHAR" property="subtitleRequired" />
    <result column="description_required_" jdbcType="CHAR" property="descriptionRequired" />
    <result column="image_required_" jdbcType="CHAR" property="imageRequired" />
    <result column="mobile_image_required_" jdbcType="CHAR" property="mobileImageRequired" />
    <result column="video_required_" jdbcType="CHAR" property="videoRequired" />
    <result column="image_width_" jdbcType="INTEGER" property="imageWidth" />
    <result column="image_height_" jdbcType="INTEGER" property="imageHeight" />
    <result column="mobile_image_width_" jdbcType="INTEGER" property="mobileImageWidth" />
    <result column="mobile_image_height_" jdbcType="INTEGER" property="mobileImageHeight" />
    <result column="recommendable_" jdbcType="CHAR" property="recommendable" />
    <result column="enabled_" jdbcType="CHAR" property="enabled" />
    <result column="order_" jdbcType="INTEGER" property="order" />
  </resultMap><resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ujcms.cms.core.domain.Block" />
    <resultMap extends="ResultMapWithBLOBs" id="ResultMap" type="com.ujcms.cms.core.domain.Block" />
    <select id="existsByAlias" resultType="int">
        select case when exists(
        select *
        from ujcms_block t
        where t.alias_ = #{alias}
        <choose>
            <when test="siteId != null">
                and t.site_id_ = #{siteId}
            </when>
            <otherwise>
                and t.site_id_ is null
            </otherwise>
        </choose>
        ) then 1
        else 0
        end as non_zero_exists
    </select>
    <delete id="deleteBySiteId" parameterType="long">
        delete
        from ujcms_block
        where site_id_ = #{siteId,jdbcType=BIGINT}
    </delete>
    <sql id="selectAllSelect" />
    <sql id="selectAllJoin" />
    <sql id="selectAllWhere" />
    <select id="selectAll" resultMap="ResultMap">
        <include refid="com.ujcms.cms.core.mapper.SeqMapper.Select_All">
            <property name="tableName" value="ujcms_block" />
        </include>
    </select>
    <select id="select" parameterType="long" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_block t
        where t.id_ = #{id,jdbcType=BIGINT}
    </select>
    <delete id="delete" parameterType="long">
        delete
        from ujcms_block
        where id_ = #{id,jdbcType=BIGINT}
    </delete><update id="update" parameterType="com.ujcms.cms.core.domain.Block">
    update ujcms_block
    set site_id_ = #{siteId,jdbcType=BIGINT},
      name_ = #{name,jdbcType=VARCHAR},
      alias_ = #{alias,jdbcType=VARCHAR},
      scope_ = #{scope,jdbcType=SMALLINT},
      with_link_url_ = #{withLinkUrl,jdbcType=CHAR},
      with_subtitle_ = #{withSubtitle,jdbcType=CHAR},
      with_description_ = #{withDescription,jdbcType=CHAR},
      with_image_ = #{withImage,jdbcType=CHAR},
      with_mobile_image_ = #{withMobileImage,jdbcType=CHAR},
      with_video_ = #{withVideo,jdbcType=CHAR},
      link_url_required_ = #{linkUrlRequired,jdbcType=CHAR},
      subtitle_required_ = #{subtitleRequired,jdbcType=CHAR},
      description_required_ = #{descriptionRequired,jdbcType=CHAR},
      image_required_ = #{imageRequired,jdbcType=CHAR},
      mobile_image_required_ = #{mobileImageRequired,jdbcType=CHAR},
      video_required_ = #{videoRequired,jdbcType=CHAR},
      image_width_ = #{imageWidth,jdbcType=INTEGER},
      image_height_ = #{imageHeight,jdbcType=INTEGER},
      mobile_image_width_ = #{mobileImageWidth,jdbcType=INTEGER},
      mobile_image_height_ = #{mobileImageHeight,jdbcType=INTEGER},
      recommendable_ = #{recommendable,jdbcType=CHAR},
      enabled_ = #{enabled,jdbcType=CHAR},
      order_ = #{order,jdbcType=INTEGER}
    where id_ = #{id,jdbcType=BIGINT}
  </update><insert id="insert" parameterType="com.ujcms.cms.core.domain.Block">
    insert into ujcms_block (id_, site_id_, name_, alias_, scope_, with_link_url_, with_subtitle_, with_description_, with_image_, with_mobile_image_, with_video_, link_url_required_, subtitle_required_, description_required_, image_required_, mobile_image_required_, video_required_, image_width_, image_height_, mobile_image_width_, mobile_image_height_, recommendable_, enabled_, order_)
    values (#{id,jdbcType=BIGINT}, #{siteId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, #{scope,jdbcType=SMALLINT}, #{withLinkUrl,jdbcType=CHAR}, #{withSubtitle,jdbcType=CHAR}, #{withDescription,jdbcType=CHAR}, #{withImage,jdbcType=CHAR}, #{withMobileImage,jdbcType=CHAR}, #{withVideo,jdbcType=CHAR}, #{linkUrlRequired,jdbcType=CHAR}, #{subtitleRequired,jdbcType=CHAR}, #{descriptionRequired,jdbcType=CHAR}, #{imageRequired,jdbcType=CHAR}, #{mobileImageRequired,jdbcType=CHAR}, #{videoRequired,jdbcType=CHAR}, #{imageWidth,jdbcType=INTEGER}, #{imageHeight,jdbcType=INTEGER}, #{mobileImageWidth,jdbcType=INTEGER}, #{mobileImageHeight,jdbcType=INTEGER}, #{recommendable,jdbcType=CHAR}, #{enabled,jdbcType=CHAR}, #{order,jdbcType=INTEGER})
  </insert><sql id="Column_List">
    t.id_, t.site_id_, t.name_, t.alias_, t.scope_, t.with_link_url_, t.with_subtitle_, t.with_description_, t.with_image_, t.with_mobile_image_, t.with_video_, t.link_url_required_, t.subtitle_required_, t.description_required_, t.image_required_, t.mobile_image_required_, t.video_required_, t.image_width_, t.image_height_, t.mobile_image_width_, t.mobile_image_height_, t.recommendable_, t.enabled_, t.order_
  </sql></mapper>