<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujcms.cms.core.mapper.ChannelMapper"><resultMap id="BaseResultMap" type="com.ujcms.cms.core.domain.Channel">
    <id column="id_" jdbcType="BIGINT" property="id" />
    <result column="site_id_" jdbcType="BIGINT" property="siteId" />
    <result column="parent_id_" jdbcType="BIGINT" property="parentId" />
    <result column="channel_model_id_" jdbcType="BIGINT" property="channelModelId" />
    <result column="article_model_id_" jdbcType="BIGINT" property="articleModelId" />
    <result column="performance_type_id_" jdbcType="BIGINT" property="performanceTypeId" />
    <result column="name_" jdbcType="VARCHAR" property="name" />
    <result column="alias_" jdbcType="VARCHAR" property="alias" />
    <result column="type_" jdbcType="SMALLINT" property="type" />
    <result column="article_template_" jdbcType="VARCHAR" property="articleTemplate" />
    <result column="channel_template_" jdbcType="VARCHAR" property="channelTemplate" />
    <result column="image_" jdbcType="VARCHAR" property="image" />
    <result column="link_url_" jdbcType="VARCHAR" property="linkUrl" />
    <result column="process_key_" jdbcType="VARCHAR" property="processKey" />
    <result column="target_blank_" jdbcType="CHAR" property="targetBlank" />
    <result column="real_" jdbcType="CHAR" property="real" />
    <result column="nav_" jdbcType="CHAR" property="nav" />
    <result column="page_size_" jdbcType="SMALLINT" property="pageSize" />
    <result column="order_desc_" jdbcType="CHAR" property="orderDesc" />
    <result column="allow_comment_" jdbcType="CHAR" property="allowComment" />
    <result column="allow_contribute_" jdbcType="CHAR" property="allowContribute" />
    <result column="allow_search_" jdbcType="CHAR" property="allowSearch" />
    <result column="created_" jdbcType="TIMESTAMP" property="created" />
    <result column="modified_" jdbcType="TIMESTAMP" property="modified" />
    <result column="depth_" jdbcType="SMALLINT" property="depth" />
    <result column="order_" jdbcType="INTEGER" property="order" />
    <result column="views_" jdbcType="BIGINT" property="views" />
    <result column="self_views_" jdbcType="BIGINT" property="selfViews" />
    <result column="book_" jdbcType="CHAR" property="book" />
    <result column="channel_static_path_" jdbcType="VARCHAR" property="channelStaticPath" />
  </resultMap><resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ujcms.cms.core.domain.Channel">
    <result column="mains_json_" jdbcType="OTHER" property="mainsJson" />
    <result column="clobs_json_" jdbcType="OTHER" property="clobsJson" />
  </resultMap>
    <cache type="com.ujcms.cms.core.domain.cache.SiteCache" />
    <resultMap extends="BaseResultMap" id="LinkResultMap" type="com.ujcms.cms.core.domain.Channel">
        <association column="site_id_" javaType="com.ujcms.cms.core.domain.Site" property="site" select="com.ujcms.cms.core.mapper.SiteMapper.selectRefer" />
    </resultMap>
    <resultMap extends="BaseResultMap" id="ParentResultMap" type="com.ujcms.cms.core.domain.Channel">
        <association column="site_id_" javaType="com.ujcms.cms.core.domain.Site" property="site" select="com.ujcms.cms.core.mapper.SiteMapper.selectRefer" />
        <association column="parent_id_" javaType="com.ujcms.cms.core.domain.Channel" property="parent" select="selectReferParent" />
    </resultMap>
    <resultMap extends="BaseResultMap" id="ReferResultMap" type="com.ujcms.cms.core.domain.Channel">
        <association column="site_id_" javaType="com.ujcms.cms.core.domain.Site" property="site" select="com.ujcms.cms.core.mapper.SiteMapper.selectRefer" />
        <association column="parent_id_" javaType="com.ujcms.cms.core.domain.Channel" property="parent" select="selectReferParent" />
        <association column="article_model_id_" javaType="com.ujcms.cms.core.domain.Model" property="articleModel" select="com.ujcms.cms.core.mapper.ModelMapper.select" />
    </resultMap>
    <resultMap extends="ResultMapWithBLOBs" id="ListResultMap" type="com.ujcms.cms.core.domain.Channel">
        <result column="has_children_" jdbcType="CHAR" property="hasChildren" />
        <association column="site_id_" javaType="com.ujcms.cms.core.domain.Site" property="site" select="com.ujcms.cms.core.mapper.SiteMapper.selectRefer" />
        <association column="channel_model_id_" javaType="com.ujcms.cms.core.domain.Model" property="channelModel" select="com.ujcms.cms.core.mapper.ModelMapper.select" />
        <association column="article_model_id_" javaType="com.ujcms.cms.core.domain.Model" property="articleModel" select="com.ujcms.cms.core.mapper.ModelMapper.select" />
        <association column="performance_type_id_" javaType="com.ujcms.cms.core.domain.PerformanceType" property="performanceType" select="com.ujcms.cms.core.mapper.PerformanceTypeMapper.select" />
    </resultMap>
    <resultMap extends="ResultMapWithBLOBs" id="ResultMap" type="com.ujcms.cms.core.domain.Channel">
        <association column="id_" javaType="com.ujcms.cms.core.domain.ChannelExt" property="ext" select="com.ujcms.cms.core.mapper.ChannelExtMapper.select" />
        <association column="parent_id_" javaType="com.ujcms.cms.core.domain.Channel" property="parent" select="selectReferParent" />
        <association column="site_id_" javaType="com.ujcms.cms.core.domain.Site" property="site" select="com.ujcms.cms.core.mapper.SiteMapper.selectRefer" />
        <association column="channel_model_id_" javaType="com.ujcms.cms.core.domain.Model" property="channelModel" select="com.ujcms.cms.core.mapper.ModelMapper.select" />
        <association column="article_model_id_" javaType="com.ujcms.cms.core.domain.Model" property="articleModel" select="com.ujcms.cms.core.mapper.ModelMapper.select" />
        <association column="performance_type_id_" javaType="com.ujcms.cms.core.domain.PerformanceType" property="performanceType" select="com.ujcms.cms.core.mapper.PerformanceTypeMapper.select" />
        <collection column="id_" ofType="com.ujcms.cms.core.domain.Channel" property="children" select="listChildrenLink" />
    </resultMap>
    <select id="findFirstByParentId" parameterType="long" resultMap="LinkResultMap">
        select
        <if test="_databaseId == 'sqlserver'">TOP 1</if>
        <if test="_databaseId == 'informix' or _databaseId == 'gbase'">FIRST 1</if>
        <include refid="Column_List" />
        from ujcms_channel t
        where t.parent_id_ = #{parentId,jdbcType=BIGINT}
        <if test="_databaseId == 'oracle' or _databaseId == 'dm' or _databaseId == 'oscar'">and ROWNUM &lt;= 1</if>
        order by t.order_, t.id_
        <if test="_databaseId == 'h2' or _databaseId == 'db2'">FETCH FIRST 1 ROWS ONLY</if>
        <if test="_databaseId != 'oracle' or _databaseId != 'sqlserver' or _databaseId != 'db2' or _databaseId != 'informix' or _databaseId != 'h2' or _databaseId != 'dm' or _databaseId != 'oscar'">
            LIMIT 1
        </if>
    </select>
    <select id="listChannelPermissions" resultType="long">
        select t.id_
        from ujcms_channel t
        <where>
            <if test="roleIds != null and roleIds.size &gt; 0">
                t.id_ in (select roleChannel.channel_id_ from ujcms_role_channel roleChannel where roleChannel.role_id_ in
                <foreach close=")" collection="roleIds" item="id" open="(" separator=",">#{id}</foreach>
                <if test="siteId != null">and t.site_id_ = #{siteId}</if>)
            </if>
            <if test="orgIds != null and orgIds.size &gt; 0">
                or t.id_ in (select orgChannel.channel_id_ from ujcms_org_channel orgChannel where orgChannel.org_id_ in
                <foreach close=")" collection="orgIds" item="id" open="(" separator=",">#{id}</foreach>
                <if test="siteId != null">and t.site_id_ = #{siteId}</if>)
            </if>
        </where>
    </select>
    <select id="findBySiteIdAndAlias" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_channel t
        where t.site_id_ = #{siteId} and t.alias_ = #{alias}
    </select>
    <select id="listChildrenLink" resultMap="LinkResultMap">
        select
        <include refid="Column_List" />
        from ujcms_channel t
        where t.parent_id_ = #{parentId,jdbcType=BIGINT}
        order by t.order_, t.id_
    </select>
    <select id="listChildren" resultMap="LinkResultMap">
        select
        <include refid="Column_List" />
        from ujcms_channel t
        where t.parent_id_ = #{parentId,jdbcType=BIGINT}
        order by t.order_, t.id_
    </select>

    <select id="countByCreated" resultType="int">
        select count(*)
        from ujcms_channel t
        where t.site_id_ = #{siteId}
        <if test="created != null">
            and t.created_ &gt;= #{created}
        </if>
    </select>
    <select id="selectForSitemap" resultMap="BaseResultMap">
        select t.id_, t.alias_
        from ujcms_channel t
        where t.id_ = #{id,jdbcType=BIGINT}
    </select>
    <select id="listByChannelForSitemap" resultMap="BaseResultMap">
        select t.id_, t.alias_, t.type_
        from ujcms_channel t
        where t.site_id_ = #{siteId,jdbcType=BIGINT}
        order by t.order_, t.id_
    </select>
    <select id="listBySiteIdForTidy" resultMap="BaseResultMap">
        select t.id_, t.parent_id_
        from ujcms_channel t
        where t.site_id_ = #{siteId,jdbcType=BIGINT}
    </select>
    <delete id="deleteBySiteId" parameterType="long">
        delete
        from ujcms_channel
        where site_id_ = #{siteId,jdbcType=BIGINT}
    </delete>
    <update id="updateNav">
        update ujcms_channel
        set nav_ = #{nav,jdbcType=CHAR}
        where id_ in
        <foreach close=")" collection="ids" item="id" open="(" separator=",">#{id}</foreach>
    </update>
    <update id="updateReal">
        update ujcms_channel
        set real_ = #{real,jdbcType=CHAR}
        where id_ in
        <foreach close=")" collection="ids" item="id" open="(" separator=",">#{id}</foreach>
    </update>
    <update id="updatePerformanceTypeIdToNull">
        update ujcms_channel
        set performance_type_id_ = null
        where performance_type_id_ = #{performanceTypeId,jdbcType=BIGINT}
    </update>
    <update id="updateParentIdToNull">
        update ujcms_channel
        set parent_id_ = null
        where site_id_ = #{siteId,jdbcType=BIGINT}
    </update>
    <update id="updateDepth">
        update ujcms_channel
        set depth_ = depth_ + #{depth,jdbcType=SMALLINT}
        where id_ in (select descendant_id_ from ujcms_channel_tree where ancestor_id_ = #{id,jdbcType=BIGINT})
    </update>
    <update id="updateParentId">
        update ujcms_channel
        set parent_id_ = #{parentId}
        where id_ = #{id}
    </update>
    <select id="maxOrder" resultType="int">
        select max(c.order_)
        from ujcms_channel c
        <if test="parentId != null">join ujcms_channel_tree t on c.id_ = t.descendant_id_</if>
        where
        <choose>
            <when test="parentId != null">
                t.ancestor_id_ = #{parentId,jdbcType=BIGINT}
            </when>
            <otherwise>
                c.site_id_ = #{siteId}
            </otherwise>
        </choose>
    </select>
    <update id="batchUpdateOrderAndDepth">
        update ujcms_channel
        <trim prefix="set" suffixOverrides=",">
            order_ =
            <foreach close="end," collection="list" item="item" open="case">
                when id_=#{item.id} then #{item.order}
            </foreach>
            depth_ =
            <foreach close="end," collection="list" item="item" open="case">
                when id_=#{item.id} then #{item.depth}
            </foreach>
        </trim>
        where id_ in
        <foreach close=")" collection="list" item="item" open="(" separator=",">
            #{item.id}
        </foreach>
    </update>
    <update id="updateOrder">
        update ujcms_channel
        set order_ = order_ + #{num,jdbcType=INTEGER}
        where order_ &gt;= #{begin,jdbcType=INTEGER}
          and order_ &lt;= #{end,jdbcType=INTEGER}
          and site_id_ = #{siteId,jdbcType=BIGINT}
    </update>
    <update id="updateOrderByParentId">
        update ujcms_channel
        set order_ = order_ + #{num,jdbcType=INTEGER}
        where id_ in (select t.descendant_id_
                      from ujcms_channel_tree t
                      where t.ancestor_id_ = #{parentId,jdbcType=BIGINT})
    </update>
    <sql id="selectAllSelect">
        <if test="isQueryHasChildren">
            , CASE WHEN exists(select * from ujcms_channel childChannel where childChannel.parent_id_ = t.id_) THEN '1' ELSE '0' END as has_children_
        </if>
    </sql>
    <sql id="selectAllJoin" />
    <sql id="selectAllWhere">
        <trim prefix="and(" prefixOverrides="and |or " suffix=")">
            <if test="articleRoleIds != null and articleRoleIds.size &gt; 0">
                t.id_ in (select roleArticle.channel_id_ from ujcms_role_article roleArticle where roleArticle.role_id_ in
                <foreach close=")" collection="articleRoleIds" item="id" open="(" separator=",">#{id}</foreach>)
            </if>
            <if test="articleOrgIds != null and articleOrgIds.size &gt; 0">
                or t.id_ in (select orgArticle.channel_id_ from ujcms_org_article orgArticle where orgArticle.org_id_ in
                <foreach close=")" collection="articleOrgIds" item="id" open="(" separator=",">#{id}</foreach>)
            </if>
        </trim>
    </sql>
    <select id="selectAll" resultMap="ListResultMap">
        <include refid="com.ujcms.cms.core.mapper.SeqMapper.Select_All">
            <property name="tableName" value="ujcms_channel" />
        </include>
    </select>
    <select id="selectReferParent" parameterType="long" resultMap="ParentResultMap">
        select
        <include refid="Column_List" />
        from ujcms_channel t
        where t.id_ = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectRefer" parameterType="long" resultMap="ReferResultMap">
        select
        <include refid="Column_List" />
        from ujcms_channel t
        where t.id_ = #{id,jdbcType=BIGINT}
    </select>
    <select id="select" parameterType="long" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_channel t
        where t.id_ = #{id,jdbcType=BIGINT}
    </select>
    <select id="existsByModelId" resultType="int">
        select case
                   when exists(
                           select *
                           from ujcms_channel t
                           where t.article_model_id_ = #{channelId}
                              or t.channel_model_id_ = #{channelId}
                       ) then 1
                   else 0
                   end as non_zero_exists
    </select>
    <!-- 参数可能变化很大，没必要缓存 -->
    <select id="existsByAlias" resultType="int" useCache="false">
        select case
                   when exists(
                           select *
                           from ujcms_channel t
                           where t.alias_ = #{alias}
                             and t.site_id_ = #{siteId}
                       ) then 1
                   else 0
                   end as non_zero_exists
    </select>
    <select id="existsByArticleRoleId" resultType="int" useCache="false">
        select case
        when exists(
        select * from ujcms_role_article ra where ra.channel_id_ = #{channelId} and ra.role_id_ in
        <foreach close=")" collection="roleIds" index="index" item="item" open="(" separator=",">
            #{item}
        </foreach>
        ) then 1
        else 0
        end as non_zero_exists
    </select>
    <delete id="delete" parameterType="long">
        delete
        from ujcms_channel
        where id_ = #{id,jdbcType=BIGINT}
    </delete><update id="update" parameterType="com.ujcms.cms.core.domain.Channel">
    update ujcms_channel
    set site_id_ = #{siteId,jdbcType=BIGINT},
      channel_model_id_ = #{channelModelId,jdbcType=BIGINT},
      article_model_id_ = #{articleModelId,jdbcType=BIGINT},
      performance_type_id_ = #{performanceTypeId,jdbcType=BIGINT},
      name_ = #{name,jdbcType=VARCHAR},
      alias_ = #{alias,jdbcType=VARCHAR},
      type_ = #{type,jdbcType=SMALLINT},
      article_template_ = #{articleTemplate,jdbcType=VARCHAR},
      channel_template_ = #{channelTemplate,jdbcType=VARCHAR},
      image_ = #{image,jdbcType=VARCHAR},
      link_url_ = #{linkUrl,jdbcType=VARCHAR},
      process_key_ = #{processKey,jdbcType=VARCHAR},
      target_blank_ = #{targetBlank,jdbcType=CHAR},
      real_ = #{real,jdbcType=CHAR},
      nav_ = #{nav,jdbcType=CHAR},
      page_size_ = #{pageSize,jdbcType=SMALLINT},
      order_desc_ = #{orderDesc,jdbcType=CHAR},
      allow_comment_ = #{allowComment,jdbcType=CHAR},
      allow_contribute_ = #{allowContribute,jdbcType=CHAR},
      allow_search_ = #{allowSearch,jdbcType=CHAR},
      created_ = #{created,jdbcType=TIMESTAMP},
      modified_ = #{modified,jdbcType=TIMESTAMP},
      book_ = #{book,jdbcType=CHAR},
      channel_static_path_ = #{channelStaticPath,jdbcType=VARCHAR},
      mains_json_ = #{mainsJson,jdbcType=OTHER},
      clobs_json_ = #{clobsJson,jdbcType=OTHER}
    where id_ = #{id,jdbcType=BIGINT}
  </update><insert id="insert" parameterType="com.ujcms.cms.core.domain.Channel">
    insert into ujcms_channel (id_, site_id_, parent_id_, channel_model_id_, article_model_id_, performance_type_id_, name_, alias_, type_, article_template_, channel_template_, image_, link_url_, process_key_, target_blank_, real_, nav_, page_size_, order_desc_, allow_comment_, allow_contribute_, allow_search_, created_, modified_, depth_, order_, views_, self_views_, book_, channel_static_path_, mains_json_, clobs_json_)
    values (#{id,jdbcType=BIGINT}, #{siteId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{channelModelId,jdbcType=BIGINT}, #{articleModelId,jdbcType=BIGINT}, #{performanceTypeId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, #{type,jdbcType=SMALLINT}, #{articleTemplate,jdbcType=VARCHAR}, #{channelTemplate,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{linkUrl,jdbcType=VARCHAR}, #{processKey,jdbcType=VARCHAR}, #{targetBlank,jdbcType=CHAR}, #{real,jdbcType=CHAR}, #{nav,jdbcType=CHAR}, #{pageSize,jdbcType=SMALLINT}, #{orderDesc,jdbcType=CHAR}, #{allowComment,jdbcType=CHAR}, #{allowContribute,jdbcType=CHAR}, #{allowSearch,jdbcType=CHAR}, #{created,jdbcType=TIMESTAMP}, #{modified,jdbcType=TIMESTAMP}, #{depth,jdbcType=SMALLINT}, #{order,jdbcType=INTEGER}, #{views,jdbcType=BIGINT}, #{selfViews,jdbcType=BIGINT}, #{book,jdbcType=CHAR}, #{channelStaticPath,jdbcType=VARCHAR}, #{mainsJson,jdbcType=OTHER}, #{clobsJson,jdbcType=OTHER})
  </insert><sql id="Column_List">
    t.id_, t.site_id_, t.parent_id_, t.channel_model_id_, t.article_model_id_, t.performance_type_id_, t.name_, t.alias_, t.type_, t.article_template_, t.channel_template_, t.image_, t.link_url_, t.process_key_, t.target_blank_, t.real_, t.nav_, t.page_size_, t.order_desc_, t.allow_comment_, t.allow_contribute_, t.allow_search_, t.created_, t.modified_, t.depth_, t.order_, t.views_, t.self_views_, t.book_, t.channel_static_path_, t.mains_json_, t.clobs_json_
  </sql></mapper>