<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujcms.cms.core.mapper.ChannelBufferMapper"><resultMap id="BaseResultMap" type="com.ujcms.cms.core.domain.ChannelBuffer">
    <id column="id_" jdbcType="INTEGER" property="id" />
    <result column="views_" jdbcType="BIGINT" property="views" />
    <result column="self_views_" jdbcType="BIGINT" property="selfViews" />
  </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMap" type="com.ujcms.cms.core.domain.ChannelBuffer" />

    <update id="updateBatch">
        update ujcms_channel_buffer
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="views_=case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id_=#{item.id} then views_+#{item.views}
                </foreach>
            </trim>
            <trim prefix="self_views_=case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id_=#{item.id} then self_views_+#{item.selfViews}
                </foreach>
            </trim>
        </trim>
        where id_ in
        <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>

    <delete id="deleteBySiteId" parameterType="int">
        delete
        from ujcms_channel_buffer
        where exists(select * from ujcms_channel t where t.id_ = ujcms_channel_buffer.id_ and t.site_id_ = #{siteId,jdbcType=INTEGER})
    </delete>

    <sql id="selectAllJoin" />
    <sql id="selectAllWhere" />
    <select id="selectAll" resultMap="ResultMap">
        <include refid="com.ujcms.cms.core.mapper.SeqMapper.Select_All">
            <property name="tableName" value="ujcms_channel_buffer" />
        </include>
    </select>
    <select id="select" parameterType="int" resultMap="ResultMap">
        select
        <include refid="Column_List" />
        from ujcms_channel_buffer t
        where t.id_ = #{id,jdbcType=INTEGER}
    </select>
    <delete id="delete" parameterType="int">
        delete
        from ujcms_channel_buffer
        where id_ = #{id,jdbcType=INTEGER}
    </delete><update id="update" parameterType="com.ujcms.cms.core.domain.ChannelBuffer">
    update ujcms_channel_buffer
    set views_ = #{views,jdbcType=BIGINT},
      self_views_ = #{selfViews,jdbcType=BIGINT}
    where id_ = #{id,jdbcType=INTEGER}
  </update><insert id="insert" parameterType="com.ujcms.cms.core.domain.ChannelBuffer">
    insert into ujcms_channel_buffer (id_, views_, self_views_)
    values (#{id,jdbcType=INTEGER}, #{views,jdbcType=BIGINT}, #{selfViews,jdbcType=BIGINT})
  </insert><sql id="Column_List">
    t.id_, t.views_, t.self_views_
  </sql></mapper>