<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujcms.cms.core.mapper.GroupAccessMapper"><resultMap id="BaseResultMap" type="com.ujcms.cms.core.domain.GroupAccess">
    <id column="group_id_" jdbcType="BIGINT" property="groupId" />
    <id column="channel_id_" jdbcType="BIGINT" property="channelId" />
    <result column="site_id_" jdbcType="BIGINT" property="siteId" />
  </resultMap><resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ujcms.cms.core.domain.GroupAccess" />
  <resultMap extends="ResultMapWithBLOBs" id="ResultMap" type="com.ujcms.cms.core.domain.GroupAccess" />
  <select id="listChannelByGroupId" resultType="long">
    select t.channel_id_
    from ujcms_group_access t
    where t.group_id_ = #{groupId}
    <if test="siteId != null">and t.site_id_ = #{siteId}</if>
  </select>
  <select id="listGroupByChannelId" resultType="long">
    select t.group_id_
    from ujcms_group_access t
    where t.channel_id_ = #{channelId}
    <if test="siteId != null">and t.site_id_ = #{siteId}</if>
  </select>
  <delete id="deleteByChannelId">
    delete
    from ujcms_group_access
    where channel_id_ = #{channelId}
  </delete>
  <delete id="deleteByGroupId">
    delete
    from ujcms_group_access
    where group_id_ = #{groupId}
    <if test="siteId != null">and site_id_ = #{siteId}</if>
  </delete>
  <delete id="deleteBySiteId">
    delete
    from ujcms_group_access
    where channel_id_ in (select t.id_ from ujcms_channel t where t.site_id_ = #{siteId,jdbcType=BIGINT})
  </delete>
  <sql id="selectAllSelect" />
  <sql id="selectAllJoin" />
  <sql id="selectAllWhere" />
  <select id="selectAll" resultMap="ResultMap">
    <include refid="com.ujcms.cms.core.mapper.SeqMapper.Select_All">
      <property name="tableName" value="ujcms_group_access" />
    </include>
  </select>
  <select id="select" parameterType="map" resultMap="ResultMap">
    select 
    <include refid="Column_List" />
    from ujcms_group_access t
    where t.group_id_ = #{groupId,jdbcType=BIGINT}
      and t.channel_id_ = #{channelId,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="map">
    delete from ujcms_group_access
    where group_id_ = #{groupId,jdbcType=BIGINT}
      and channel_id_ = #{channelId,jdbcType=BIGINT}
  </delete><update id="update" parameterType="com.ujcms.cms.core.domain.GroupAccess">
    update ujcms_group_access
    set site_id_ = #{siteId,jdbcType=BIGINT}
    where group_id_ = #{groupId,jdbcType=BIGINT}
      and channel_id_ = #{channelId,jdbcType=BIGINT}
  </update><insert id="insert" parameterType="com.ujcms.cms.core.domain.GroupAccess">
    insert into ujcms_group_access (group_id_, channel_id_, site_id_)
    values (#{groupId,jdbcType=BIGINT}, #{channelId,jdbcType=BIGINT}, #{siteId,jdbcType=BIGINT})
  </insert><sql id="Column_List">
    t.group_id_, t.channel_id_, t.site_id_
  </sql></mapper>