<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujcms.cms.core.mapper.RoleChannelMapper"><resultMap id="BaseResultMap" type="com.ujcms.cms.core.domain.RoleChannel">
    <id column="role_id_" jdbcType="BIGINT" property="roleId" />
    <id column="channel_id_" jdbcType="BIGINT" property="channelId" />
    <result column="site_id_" jdbcType="BIGINT" property="siteId" />
  </resultMap><resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ujcms.cms.core.domain.RoleChannel" />
  <resultMap extends="ResultMapWithBLOBs" id="ResultMap" type="com.ujcms.cms.core.domain.RoleChannel" />
  <select id="listChannelByRoleId" resultType="long">
    select t.channel_id_
    from ujcms_role_channel t
    where t.role_id_ = #{roleId}
    <if test="siteId != null">and t.site_id_ = #{siteId}</if>
  </select>
  <select id="listRoleByChannelId" resultType="long">
    select t.role_id_
    from ujcms_role_channel t
    where t.channel_id_ = #{channelId}
    <if test="siteId != null">and t.site_id_ = #{siteId}</if>
  </select>
  <delete id="deleteByChannelId">
    delete
    from ujcms_role_channel
    where channel_id_ = #{channelId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByRoleId">
    delete
    from ujcms_role_channel
    where role_id_ = #{roleId,jdbcType=BIGINT}
    <if test="siteId != null">and site_id_ = #{siteId}</if>
  </delete>
  <delete id="deleteBySiteId">
    delete
    from ujcms_role_channel
    where site_id_ = #{siteId,jdbcType=BIGINT}
  </delete>
  <select id="select" parameterType="map" resultMap="ResultMap">
    select
    <include refid="Column_List" />
    from ujcms_role_channel t
    where t.role_id_ = #{roleId,jdbcType=BIGINT}
      and t.channel_id_ = #{channelId,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="map">
    delete from ujcms_role_channel
    where role_id_ = #{roleId,jdbcType=BIGINT}
      and channel_id_ = #{channelId,jdbcType=BIGINT}
  </delete><update id="update" parameterType="com.ujcms.cms.core.domain.RoleChannel">
    update ujcms_role_channel
    set site_id_ = #{siteId,jdbcType=BIGINT}
    where role_id_ = #{roleId,jdbcType=BIGINT}
      and channel_id_ = #{channelId,jdbcType=BIGINT}
  </update><insert id="insert" parameterType="com.ujcms.cms.core.domain.RoleChannel">
    insert into ujcms_role_channel (role_id_, channel_id_, site_id_)
    values (#{roleId,jdbcType=BIGINT}, #{channelId,jdbcType=BIGINT}, #{siteId,jdbcType=BIGINT})
  </insert><sql id="Column_List">
    t.role_id_, t.channel_id_, t.site_id_
  </sql></mapper>