<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujcms.cms.core.mapper.SiteBufferMapper">
    <resultMap id="ResultMap" type="com.ujcms.cms.core.domain.SiteBuffer">
        <id column="id_" jdbcType="BIGINT" property="id"/>
        <result column="views_" jdbcType="BIGINT" property="views"/>
        <result column="self_views_" jdbcType="BIGINT" property="selfViews"/>
        <result column="today_views_" jdbcType="INTEGER" property="todayViews"/>
        <result column="yesterday_views_" jdbcType="INTEGER" property="yesterdayViews"/>
        <result column="max_views_" jdbcType="INTEGER" property="maxViews"/>
        <result column="max_date_" jdbcType="TIMESTAMP" property="maxDate"/>
    </resultMap>

    <update id="updateStat">
        update ujcms_site
        set max_views_       = case when today_views_ &gt;= max_views_ then today_views_ else max_views_ end,
            max_date_        = case when today_views_ &gt;= max_views_ then #{yesterday} else max_date_ end,
            yesterday_views_ = today_views_,
            today_views_     = 0
    </update>

    <update id="updateBatch">
        update ujcms_site
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="views_=case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id_=#{item.id} then views_+#{item.views}
                </foreach>
            </trim>
            <trim prefix="today_views_=case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id_=#{item.id} then today_views_+#{item.views}
                </foreach>
            </trim>
            <trim prefix="self_views_=case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id_=#{item.id} then self_views_+#{item.selfViews}
                </foreach>
            </trim>
        </trim>
        where id_ in
        <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
    <select id="select" parameterType="long" resultMap="ResultMap">
        select
        <include refid="Column_List"/>
        from ujcms_site t
        where t.id_ = #{id,jdbcType=BIGINT}
    </select>
    <update id="update" parameterType="com.ujcms.cms.core.domain.SiteBuffer">
        update ujcms_site
        set views_           = #{views,jdbcType=BIGINT},
            self_views_      = #{selfViews,jdbcType=BIGINT},
            today_views_     = #{todayViews,jdbcType=INTEGER},
            yesterday_views_ = #{yesterdayViews,jdbcType=INTEGER},
            max_views_       = #{maxViews,jdbcType=INTEGER},
            max_date_        = #{maxDate,jdbcType=TIMESTAMP}
        where id_ = #{id,jdbcType=BIGINT}
    </update>
    <sql id="Column_List">
        t.id_, t.views_, t.self_views_, t.today_views_, t.yesterday_views_, t.max_views_, t.max_date_
    </sql>
</mapper>