.el-tabs[data-v-e260d231] .el-tabs__header{float:right;margin-right:1px}.sortable-chosen td[data-v-e260d231]{border-top-width:2px;--tw-border-opacity: 1;border-top-color:rgb(243 209 158 / var(--tw-border-opacity))}
