<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <session-config>
        <!-- Session 过期时间。默认：30。单位：分钟。 -->
        <session-timeout>30</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
    <!-- 由于 Servlet API 没有提供 Error Page 映射的方法，如果部署到 Servlet 容器，必须在 web.xml 中指定。 -->
    <error-page>
        <location>/error</location>
    </error-page>
</web-app>
